@charset "utf-8";

/*ウィンドウ背景色の設定*/
body {
  background: #fbf9cc url(img/bg.png) repeat-x;
}

/*リンク色の設定*/
a {
  color: #df4839;
}
a:hover {
  color: #ff705b;
  text-decoration: none;
}

/*ヘッダー,ナビ,フッターの共通設定*/
header,nav,footer {
  text-align: center;
}

/*ナビ*/
.menu li {
  list-style-type: none;
  display: inline-block;
  width: 180px;
  margin: 0 10px;
}
.menu a {
  display: block;
  padding: 10px;
  background: #6fbb9a;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  background: #90ddbb;
}

/*ページタイトルの設定*/
h1 {
  width: 300px;
  margin: 40px auto;
  padding: 30px;
  border: 5px solid #95dbbd;
  background-color: #6fbb9a;
  color: #fff;
  font-size: 300%;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  text-shadow: 1px 1px 2px #307657;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
  font-family: 'Limelight', cursive;
}

/*大見出しの設定*/
.h {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px dotted #94c8b1;
  border-left: 10px solid #d0e35b;
  color: #6fbb9a;
  border-radius: 5px 0 0 5px;
}


/*小見出しの設定*/
.h-sub {
  padding: 10px;
  background-color: #fbf9cc;
  color: #ff705b;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #ffd0ad inset;
}
.h-sub span{
  font-weight: normal;
}

/*コンテンツ枠の設定*/
#contents {
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: 1px solid #f6bb9e;
  background-color: #fff;
}

/*「もっと見る」リンクの設定*/
.more {
  text-align: right;
}
.more::after {
  content: url(img/ico_arrow.png);
  margin-left: 3px;
  vertical-align: middle;
}

/*リンク種別アイコン*/
a[target="_blank"]::after {
  content: url(img/ico_blank.png);
  margin-left: 5px;
  vertical-align: middle;
}
a[href^="mailto:"]::after {
  content: url(img/ico_mail.png);
  margin-left: 5px;
  vertical-align: middle;
}

/*セクション間隔*/
#contents > section + section {
  margin-top: 80px;
}

/*回り込み設定*/
.imgL {
  float: left;
  margin-right: 20px;
}
.imgR {
  float: right;
  margin-left: 20px;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*円形にクリップ*/
.img-round {
  border-radius: 50%;
}

