<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recogntrans: recognize & translate</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <!-- <script src='https://unpkg.com/tesseract.js@4.0.2/dist/tesseract.min.js'></script> -->
    <script src='./tesseract@4.0.2.js'></script>
<style>
#en_result_text, #ja_result_text {
    height: 100%;
    resize: none;
    padding: 0.1rem;
    margin: 0;
    font-family: monospace;
    line-height: 1.5;
    overflow: auto;
}
/* grid_parentでgrid_parentの子要素を3カラムで表示 */
#grid_parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ja_text_array en_result_text ja_result_text";
}
#image {
    width: 100vw;
    height: 30vh;
}
</style>
</head>
<!-- https://qiita.com/satto_sann/items/be4177360a0bc3691fdf -->
<script id="google_apps_script">
// function doGet(e) {
//     var p = e.parameter;
// function sleep(waitMsec) {
//     var startMsec = new Date();
//     while (new Date() - startMsec < waitMsec);
// }
// function json_string_to_array(json_string) {
//     return JSON.parse(json_string);
// }
// var ary = json_string_to_array(p.text);
// function translate_array(array) {
//     let translated_array = [];
//     for (let i = 0; i < array.length; i++) {
//         let element = array[i];
//         sleep(500);
//         translated_array.push(LanguageApp.translate(element, p.source, p.target));
//     }
//     return translated_array;
// }
// var res = translate_array(ary);
// function array_to_json_string(array) {
//     return JSON.stringify(array);
// }
// var translatedTextJSON_Str = array_to_json_string(res);
//     var body;
//     if (translatedTextJSON_Str) {
//         body = {
//           code: 200,
//           text: translatedTextJSON_Str
//         };
//     } else {
//         body = {
//           code: 400,
//           text: "Bad Request"
//         };
//     }
//     var response = ContentService.createTextOutput();
//     response.setMimeType(ContentService.MimeType.JSON);
//     response.setContent(JSON.stringify(body));
//     return response;
// }
</script>
<body class="app">
    <h1>recognize with tesseract.js</h1>
    <img id="image" :src="img_src" ref="img_element">
    <pre id="text">{{ text }}</pre>
<button @click="(async () => { await this.next_page() })">next_page</button>
<div id="progress">{{ progress }}</div>
<!-- <button @click="setup_data">setup_data</button> -->

<button @click="translate">translate</button>
<div id="grid_parent">
<div id="ja_text_array">
    <div v-for="(TXT, IDX) in ja_text_array">{{ TXT }}</div>
</div>
<textarea name="" cols="30" rows="1000" id="en_result_text" v-model="en_result_text"></textarea>
<textarea name="" cols="30" rows="1000" id="ja_result_text" v-model="ja_result_text"></textarea>
</div>
</body>
<script>
const app = Vue.createApp({
data() {
    return {
json_string_url: 'https://gist.githubusercontent.com/taroyanaka/02180d7216e2002e1aadada150fc37ed/raw/42ec5db5f4871125099cb6fc88e7a19c88b1f2d9/wiki_image.json',
// json_string_url: 'https://gist.githubusercontent.com/taroyanaka/acacbb47f5504f9ce70229e13a8d6117/raw/c18f1d481948f9145e4ad51dba120d71966950b7/book_data.json',

urls_array: ['sample_img_url1.jpg', 'sample_img_url2.jpg', 'sample_img_url3.jpg'],
page_number: 0,
limit_word_volume: 5,
endpoint: 'https://script.google.com/macros/s/AKfycbzZuVNS36WugiFnBLpNYVEHdC5DicIxZYZWpfTFGXj_6UusY6H-7Z6IdKdKnLg7kcey/exec',
page: null,
recognized_text: '',
source: 'en',
target: 'ja',
query_url: '',

en_result_text: '',
ja_result_text: '',
progress: '',

ja_text_array: [],
img_src: '',
trans_text: '',

    }},
watch: {
//    any: {
//      handler() {
//      },
//      deep: true
//    },
},
beforeMounte(){
},
mounted() {
    (async () => { await this.url_data_fetch() })();
},
beforeUpdate() {
},
updated() {
},
methods: {
async url_data_fetch() {
    try {
        const response = await fetch(this.json_string_url);
        const data = await response.json();
        this.urls_array = JSON.parse(data);
    } catch (error) {
        console.error(error);
    }
},
// 画像の読み込み
async recognize(){
    // Tesseract.jsの処理中に進捗を表示するコールバック関数
    const progressFn = (PRG_VAL) => this.progress = `進捗: ${PRG_VAL.progress * 100}% (${PRG_VAL.status})`;
    const RESULT = await Tesseract.recognize(this.$refs.img_element, 'eng', { logger: progressFn })
    this.recognized_text = await RESULT.data.text;
},
setup_data(){
    const split_string_to_array = (str) => str.split(/[\s]+/);
    // trans_textを、文字列をスペースか改行で区切って配列に変換、その配列でthis.ja_text_arrayとしてレンダリング、その配列を改行した文字列に変換し、en_result_textに代入する
    this.en_result_text = split_string_to_array(this.recognized_text).join("\n");
    this.ja_text_array = split_string_to_array(this.recognized_text);
},
async next_page(){
    this.img_src = this.urls_array[this.page_number++];
    await this.recognize();
    this.setup_data();
},
make_trans_text(){
    this.trans_text = this.array_to_json_string(this.en_result_text.split("\n").slice(0, this.limit_word_volume));
},
// ?text=Hello&source=en&target=ja がパラメーター
async translate_execute() {
    this.make_trans_text();
    this.query_url = this.endpoint + `?text=` + this.trans_text + `&source=${this.source}&target=${this.target}`;
    const res = await fetch(this.query_url);
    const json = await res.json();
    this.ja_result_text = this.json_string_to_array(json.text).join("\n");
},
translate(){
    (async () => { await this.translate_execute() })();
},
// 配列をJSON.stringifyで文字列に変換する関数
array_to_json_string(array) {
    return JSON.stringify(array);
},
// JSON文字列をJSON.parseで配列に変換する関数
json_string_to_array(json_string) {
    return JSON.parse(json_string);
},
to_ary(it){
    return JSON.parse(JSON.stringify(it));
},
},
}).mount('.app');
</script>
</html>