<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="./reset.css">

<script src="./vue@3.2.36.global.prod.js"></script>
<script src="./ramda.@0.28.0.js"></script>
<script src="./prefectures_of_japan_list_alphabet_1222.js"></script>

</head>
<body class="app">
<!-- <template> -->
<div v-for="(ARY_DATA_ARRAY, ARY_DATA_ARRAY_INDEX) in ary_1">
    <div v-for="(INNER_ARY_DATA_ARRAY, INNER_ARY_DATA_ARRAY_INDEX) in ARY_DATA_ARRAY" class="image_parent">
        <div>{{ INNER_ARY_DATA_ARRAY }}</div>
        <canvas></canvas>
        <img src="" :alt="INNER_ARY_DATA_ARRAY">
    </div>
</div>
<!-- </template> -->

</body>
<script>
const sample_file_names = file_names.slice(0, 10);
const app = Vue.createApp({
data() {
    return {
ary_0: [1,2,3],
// ary_1: sample_file_names,
ary_1: file_names,
    }
},
beforeMounte(){
},
mounted() {
this.make_img_from_canvas();
},
updated() {

},
methods: {
make_img_from_canvas(){
document.querySelectorAll(".image_parent").forEach(FILE_NAME=>{
    // FILE_NAME_ARRAY.forEach(FILE_NAME=>{
        const canvas = FILE_NAME.querySelector("canvas");
        const ctx = canvas.getContext('2d');
        let img = new Image("Image_URL_here");
        ctx.drawImage(img,0,0);
        ctx.font = '10px serif';
        ctx.fillText(FILE_NAME.querySelector("img").alt, 10, 30);
        FILE_NAME.querySelector("img").src = canvas.toDataURL('image/png');
        canvas.remove();
    // })
})
},


},
}).mount('.app');
</script>
</html>