<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multi</title>

<!-- todo -->
<!--
make canvas error problem => make img src files from texts
    // I made a mistake in numbering this sample data, but it's sample data, so I'll skip over this mistake and proceed.
    // https://raw.githubusercontent.com/taroyanaka/javascript/master/image/image_for_multi_file_name.txt
         => 🛠

 -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.js" integrity="sha512-WXWhnFUmZx+snPw8v2JjWQ0cdLUCLxTXhyqiZb7G5pkZZEGPBgVSzILSpkPK9haxW75sX5znfF08rsVnf6BUlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<link rel="stylesheet" href="./reset.css">

<!-- https://animate.style/ -->
<!-- https://acchou.github.io/html-css-cheat-sheet/animation.html -->
<!-- <link rel="stylesheet" href="./animate@3.5.2.css"> -->
<!-- <link rel="stylesheet" href="./cssui.min.css"> -->
<!-- <link rel="stylesheet" href="./cssui.tabs.min.css"> -->

<script src="./vue@3.2.36.global.prod.js"></script>
<script src="./ramda.@0.28.0.js"></script>
<script src="./prefectures_of_japan_list_alphabet_1222.js"></script>

<style>
/* grid layout */
.app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "main main article"
        "footer footer footer";
    height: 100vh;
    width: 100vw;
}
header{
grid-area: header;
background-color: #f1f1f1;
height: 3rem;
    width: 100vw;
}
.tracker{
    position: fixed;
    top: 0rem;
    background-color: #f1f1f1;
    height: 3rem;
    width: 100vw;
}
main{
    grid-area: main;
    background-color: aliceblue;
}
article{
    grid-area: article;
    background-color: antiquewhite;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.article_button{
    width: 100%;
    height: 2rem;
}
footer{
    grid-area: footer;
    background-color: goldenrod;
    height: 3rem;
    width: 100vw;
}

header ul, footer ul{
    display: flex;
    justify-content: space-around;
}
header ul li, footer > ul > li{
display: inline-block;
}
.image_data_set{
    /* background-color: pink; */
    /* margin: 0; */
    /* padding: 0; */
}
.image_data{
    background-color: peachpuff;
    /* content: url(https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/1_1.png); */
}
</style>
</head>
<body class="app">
<header>
<div class="tracker">
<ul>
<li>abc</li>
<li>abc</li>
<li>abc</li>
<li>abc</li>
<li>abc</li>
<li>abc</li>
</ul>
</div>
</header>
<main>
<ul class="content">
    <template v-for="(LI_DATA_ARRAY, LI_DATA_ARRAY_INDEX) in content_data">
        <div class="image_data_set" :data-word="LI_DATA_ARRAY[2]">
        <img src="" :alt="" class="image_data">
        <canvas width="100" height="80"></canvas>
        </div>

        <li>
            <ul>
            <template v-for="(LI_DATA, LI_DATA_INDEX) in LI_DATA_ARRAY">
                <li>{{ LI_DATA }}</li>
            </template>
            </ul>
            <br>
        </li>
    </template>
</ul>
</main>
<article>
<ul>
<li v-for="(TAG, TAG_INDEX) in tag_list"><button class="article_button" @click="set_data_to_content({'filter_by_tag': TAG})">{{ TAG }}</button></li>
</ul>
<ul>
<!-- <li v-for="(PREFECTURE, PREFECTURE_INDEX) in sample_list_0"><button class="article_button" @click="set_data_to_content(PREFECTURE)">{{ PREFECTURE }}</button></li> -->
<li v-for="(PREFECTURE, PREFECTURE_INDEX) in sample_list_0"><button class="article_button" @click="set_data_to_content({'filter_by_pre': PREFECTURE})">{{ PREFECTURE }}</button></li>
</ul>
</article>
<footer>
<ul>
<li>def</li>
<li>def</li>
<li>def</li>
<li>def</li>
<li>def</li>
<li>def</li>
</ul>
</footer>
</body>
<script>
const app = Vue.createApp({
data() {
    return {
alphabet: [...'abcdefghijklmnopqrstuvwxyz'],
upper_alphabet: [...'ABCDEFGHIJKLMNOPQRSTUVWXYZ'],
content_data: [1,2,3,4,100],
tag_list: tag_list,
sample_list_0: prefectures_of_japan_list,
sample_list_1: prefectures_of_japan_list_alphabet_1222_0_1_2,
// const sample_list_2[0] = [
// "prefecture", // 0
// "alphabet_of_one", // 1
// "prefecture_alphabet_of_one", // 2
// "sample_str_0", // 3
// "sample_str_1", // 4
// "sample_number_0", // 5
// "sample_number_1", // 6
// "sample_time_0", // 7
// "sample_time_1", // 8
// ];
sample_list_2: prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array,
sample_list_3: prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array_and_random_tag_index_1_10_length_array,
sample_list_4: prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array_and_random_tag_index_1_10_length_array_with_file_name_number,
    }
},
beforeMounte(){
},
mounted() {
    document.querySelectorAll(`.article_button`)[104].click();
},
updated() {
    this.make_img_from_canvas();
},
methods: {
filter_by_rule(FILTER_OBJ, LIST_PARAM){
    // console.log(FILTER_OBJ);
    const filter_by_pre = (OBJ, LIST) => LIST.filter(V=>Object.values(OBJ)[0] === V[0]);
    const filter_by_tag = (OBJ, LIST) => {
        const TMP_LIST = LIST.filter(V=>V[9].map(VAL=>this.index_to_tag_name(VAL)).includes(Object.values(OBJ)[0]));
        const RESULT_LIST = TMP_LIST.length > 0 ? TMP_LIST : LIST;
        return RESULT_LIST;
    };
    const choose_filter = OBJ => {
        if(Object.keys(OBJ)[0] === "filter_by_pre"){
            return filter_by_pre;
        }else if(Object.keys(OBJ)[0] === "filter_by_tag"){
            return filter_by_tag;
        }
    }
    const filter_by_rule = (OBJ, LIST) => choose_filter(OBJ)(OBJ, LIST);
    // const res = filter_by_rule({'filter_by_pre': 'hokkaido'}, prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array_and_random_tag_index_1_10_length_array);
    // const res2 = filter_by_rule({'filter_by_tag': 'a_1'}, prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array_and_random_tag_index_1_10_length_array);
    // console.log(res,res2);
    // return filter_by_rule(FILTER_OBJ, this.sample_list_3);
    return filter_by_rule(FILTER_OBJ, this.sample_list_4);
},
set_data_to_content(FILTER_OBJ){
    const filtered_list = this.filter_by_rule(FILTER_OBJ);
    this.content_data = this.convert_index_to_tag_name_and_display(filtered_list);
},
index_to_tag_name(INDEX){
    return this.tag_list[INDEX];
},
file_name_number_to_file_url(PRE, PRE_ALPH, FILE_NAME_NUMBER){
// "https://raw.githubusercontent.com/taroyanaka/javascript/master/image/image_for_multi/"+"fukushima_u_"+PRE+"_"+PRE_ALPH+"_"+FILE_NAME_NUMBER+".png"
// https://raw.githubusercontent.com/taroyanaka/javascript/master/image/image_for_multi/fukushima_u_88.png
    return "https://raw.githubusercontent.com/taroyanaka/javascript/master/image/image_for_multi/"+PRE+"_"+PRE_ALPH+"_"+FILE_NAME_NUMBER+".png";
},
convert_index_to_tag_name_and_display(LIST){
    return LIST.map(V=>
                        V.concat(
                            [ V[9].map(TAG_INDEX=>this.index_to_tag_name(TAG_INDEX)) ]
                        )
                    )
                    .map(V=> R.update(10, V[9].map(VAL=>this.file_name_number_to_file_url(V[0], V[1], VAL)), V))
                    // .map(V=>R.remove(9, 1, V));
},
make_img_from_canvas(){
document.querySelectorAll(".image_data_set").forEach(IMAGE_DATA_SET=>{
    const canvas = IMAGE_DATA_SET.querySelector("canvas");
    const ctx = canvas.getContext('2d');
    let img = new Image("Image_URL_here");
    ctx.drawImage(img,0,0);
    ctx.font = '10px serif';
    ctx.fillText(IMAGE_DATA_SET.dataset.word, 10, 30);
    IMAGE_DATA_SET.querySelector("img").src = canvas.toDataURL('image/png');
    canvas.remove();
})
},


},
}).mount('.app');


// R.transpose([prefectures_of_japan_list_alphabet_1222_0_1_2, sample_data_array]).map(V=>V[0].concat(V[1]));

// prefectures_of_japan_list_alphabet_1222_0_1_2_with_sample_data_array.map(V=>V.concat(
//     [R.uniq(random_length_array(R.range(0, 10)).map(V=> random_number_from_min_to_max(1, 103)))
//      ]
//     ))

// shuffle arrray
// https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
function shuffle(array) {
  let currentIndex = array.length,  randomIndex;

  // While there remain elements to shuffle.
  while (currentIndex != 0) {

    // Pick a remaining element.
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    // And swap it with the current element.
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex], array[currentIndex]];
  }

  return array;
}

// random number from min to max
function random_number_from_min_to_max(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}

// random length array
function random_length_array(array) {
  return array.slice(0, random_number_from_min_to_max(1, array.length));
}


// R.uniq(random_length_array(R.range(0, 10)).map(V=> random_number_from_min_to_max(1, 103))).sort(function(a,b){return a - b}).map(V=>V.toString());


// const file_names = prefectures_of_japan_list_alphabet_1222_0_1_2.map(VAL=>
//     R.uniq(random_length_array(R.range(0, 10)).map(V=> random_number_from_min_to_max(1, 103))).sort(function(a,b){return a - b}).map(V=>VAL[2]+"_"+V.toString())
//     )




</script>
</html>