<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple_io_for_server_side</title>
<script src="./ramda.@0.28.0.js"></script>
<link rel="stylesheet" href="./reset.css">
<link rel="stylesheet" href="./cssui.min.css">
<script src="./vue@3.2.36.global.prod.js"></script>
</head>
<body class="app">
<button @click="async_await_fetch_json_log_assign">async_await_fetch_json_log_assign</button>
<ul>
<li v-for="(LI_DATA_ARRAY, LI_DATA_ARRAY_INDEX) in all_data">{{ LI_DATA_ARRAY }}</li>
</ul>
<input type="text" name="" id="" v-model="sample">
</body>
<script>
const app = Vue.createApp({
data() {
    return {
sample: 'foo',
all_data: [],
    }
},
methods: {
async fetch_all() {
    const FETCH_DATA = await fetch('http://127.0.0.1:3000/');
    const JSON_DATA = await FETCH_DATA.json();
    this.all_data = [];
    for (const DATA of JSON_DATA ) {
        // this[DATA_KEY] = JSON_DATA[KEY];
        console.log(DATA);
        this.all_data.push(DATA);
        // this[DATA_KEY] = DATA[KEY] === "url" ? JSON.parse(DATA[KEY]) : DATA[KEY];
        // this[DATA_KEY] = JSON.parse(DATA[KEY]);
    }
},
},
}).mount('.app');
</script>
</html>