<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple_io_for_server_side</title>
<script src="./ramda.@0.28.0.js"></script>
<link rel="stylesheet" href="./reset.css">
<link rel="stylesheet" href="./cssui.min.css">
<script src="./vue@3.2.36.global.prod.js"></script>
<script src="./validator@13.7.0/validator.min.js"></script>
</head>
<body class="app">
<button @click="fetch_all">fetch_all</button>
<ul>
<li v-for="(LI_DATA_ARRAY, LI_DATA_ARRAY_INDEX) in all_data">
{{ LI_DATA_ARRAY['main'] }}

<button @click="main_copy(LI_DATA_ARRAY['main']['MAIN'], LI_DATA_ARRAY_INDEX)">⏩</button>
<input type="text" placeholder="main" v-model="main_list[LI_DATA_ARRAY_INDEX]">
<button @click="update_main(main_list[LI_DATA_ARRAY_INDEX], LI_DATA_ARRAY['main']['ID'])">update_main</button>
<!-- <input type="text" placeholder="main" v-model="LI_DATA_ARRAY['main']['MAIN']">
<button @click="update_main(LI_DATA_ARRAY['main']['MAIN'], LI_DATA_ARRAY['main']['ID'])">update_main</button> -->

<br>
<template v-for="COMMENT in LI_DATA_ARRAY['comment']">{{ COMMENT }}
<button @click="delete_comment(COMMENT['COMMENT_ID'])">delete_comment{{ COMMENT['COMMENT_ID'] }}</button>
</template>

<br>
<button @click="delete_record(LI_DATA_ARRAY['main']['ID'])">delete_record:{{ LI_DATA_ARRAY['main']['MAIN_ID'] }}</button>
<input type="text" placeholder="comment" v-model="comment_list[LI_DATA_ARRAY_INDEX]">
<button @click="insert_comment(comment_list[LI_DATA_ARRAY_INDEX], LI_DATA_ARRAY['main']['ID'])">insert_comment:{{ comment_list[LI_DATA_ARRAY_INDEX] }}</button>

</li>
</ul>
<input type="text" name="" id="" v-model="main" placeholder="main text">
<input type="button" id="" @click="insert_main" value="insert_main">
</body>
<script>
let DATA = null;
const app = Vue.createApp({
data() {
    return {
        main: 'MAIN TEXT',
        all_data: [],
        main_list: [],
        comment_list: [],
    }
},
mounted(){
    this.fetch_all();
    this.fetch_all2();
},
methods: {
async FN_A(FETCH_DATA){
    const JSON_DATA = await FETCH_DATA.json();
    this.all_data = [];
    for (const DATA of JSON_DATA ) {
        this.all_data.push(DATA);
    };
},
async update_main(MAIN, ID){
    if(
validator.isNumeric(ID.toString(), {no_symbols: true}) === false
||
validator.isLength(MAIN, {min:1, max: 20}) === false) return;
    const FETCH_DATA = await fetch(`http://127.0.0.1:3000/update_main?ID=${(ID).toString()}&MAIN=${MAIN}`);
    await this.FN_A(FETCH_DATA);
},
async fetch_all() {
    const FETCH_DATA = await fetch('http://127.0.0.1:3000/');
    await this.FN_A(FETCH_DATA);
},
async fetch_all2() {
    const FETCH_DATA = await fetch('http://127.0.0.1:3000/fetch_all2');
    const JSON_DATA = await FETCH_DATA.json();
    // data = [];
    // for (const DATA of JSON_DATA ) {
    //     data.push(DATA);
    // };
    console.log(
        DATA = JSON.parse(
            JSON.stringify(JSON_DATA)
        )
    );
},
async delete_record(ID) {
    if(validator.isNumeric(ID.toString(), {no_symbols: true}) === false) return;
    const FETCH_DATA = await fetch(`http://127.0.0.1:3000/delete_record?ID=${ID}`);
    await this.FN_A(FETCH_DATA);
},
async insert_main() {
    if(validator.isLength(this.main, {min:1, max: 20}) === false) return;
    const FETCH_DATA = await fetch(`http://127.0.0.1:3000/insert_main?MAIN=${this.main}`);
    await this.FN_A(FETCH_DATA);
},
async insert_comment(COMMENT, MAIN_ID) {
    if(
        validator.isLength(COMMENT, {min:1, max: 20}) === false
        &&
        validator.isNumeric(MAIN_ID, {no_symbols: true}) === false
    ) {return};
    const FETCH_DATA = await fetch(`http://127.0.0.1:3000/insert_comment?COMMENT=${COMMENT}&MAIN_ID=${MAIN_ID}`);
    await this.FN_A(FETCH_DATA);
},
async delete_comment(ID) {
    ID = ID.toString();
    if(validator.isNumeric(ID, {no_symbols: true}) === false) {return};
    const FETCH_DATA = await fetch(`http://127.0.0.1:3000/delete_comment?ID=${ID}`);
    await this.FN_A(FETCH_DATA);
},
main_copy(MAIN, MAIN_LIST_THE_INDEX){
    this.main_list[MAIN_LIST_THE_INDEX] = MAIN;
},
},
}).mount('.app');
</script>
</html>