<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue3.js"></script>
    <script src="./localforage.js.v1.10.0.js"></script>
    <script src="./alasql.v1.7.3.js"></script>
    <title>alasql_test</title>
</head>
<body>
<div class="hoge">
    <!-- <input type="text" v-model="search" @input="filteredList"> -->
    <!-- <div v-for="(item, index) in newPostList"> -->
        <!-- <div>{{ item.article }}</div> -->
    <!-- </div> -->
</div>
<script>
const blog = {
    "article": "foo0",
    "comment_text": "foo2 is FOO2",
    "new_tag": "FOO1",
    "tag_all": [
        "FOO",
        "BAR",
        "BUZ",
        "QUX"
    ]
};
const article_lists = {
    "no_filter_list": [
        {
            "id": 1,
            "article": "bar",
            "tag_list": [
                "QUX"
            ],
            "comment_list": [
                {
                    "comment": "bar is BAR"
                }
            ],
            "star_count": 0,
            "comment_count": 1,
            "article_length": 3,
            "match_score": 0
        },
        {
            "id": 3,
            "article": "vlahvlah!",
            "tag_list": [],
            "comment_list": [],
            "star_count": 0,
            "comment_count": 0,
            "article_length": 9,
            "match_score": 0
        },
        {
            "id": 4,
            "article": "日本語　にニほんホンゴご　ﾆﾎﾝｺﾞ",
            "tag_list": [],
            "comment_list": [],
            "star_count": 0,
            "comment_count": 0,
            "article_length": 18,
            "match_score": 0
        },
        {
            "id": 2,
            "article": "foo\nbar\nBUZ",
            "tag_list": [
                "BAR",
                "QUX"
            ],
            "comment_list": [],
            "star_count": 1,
            "comment_count": 0,
            "article_length": 11,
            "match_score": 0
        },
        {
            "id": 0,
            "article": "foo0",
            "tag_list": [
                "FOO",
                "BAR"
            ],
            "comment_list": [
                {
                    "comment": "foo is FOO"
                },
                {
                    "comment": "foo is not BAR"
                },
                {
                    "comment": "foo2 is FOO2"
                }
            ],
            "star_count": 3,
            "comment_count": 3,
            "article_length": 4,
            "match_score": 0.0055427373972876705
        }
    ],
    "search": "is",
    "sort_by": "star_count",
    "sort_asc_or_desc": false,
    "editing": 0,
    "list": [
        {
            "id": 0,
            "article": "foo0",
            "tag_list": [
                "FOO",
                "BAR"
            ],
            "comment_list": [
                {
                    "comment": "foo is FOO"
                },
                {
                    "comment": "foo is not BAR"
                },
                {
                    "comment": "foo2 is FOO2"
                }
            ],
            "star_count": 3,
            "comment_count": 3,
            "article_length": 4,
            "match_score": 0.0055427373972876705
        }
    ],
    "tmpList": [
        {
            "id": 0,
            "article": "foo0",
            "tag_list": [
                "FOO",
                "BAR"
            ],
            "comment_list": [
                {
                    "comment": "foo is FOO"
                },
                {
                    "comment": "foo is not BAR"
                },
                {
                    "comment": "foo2 is FOO2"
                }
            ],
            "star_count": 3,
            "comment_count": 3,
            "article_length": 4,
            "match_score": 0.0055427373972876705
        }
    ],
    "selected": "",
    "tag_filter_with_OR_selection": [
        "FOO"
    ]
}
</script>
<script>
    // const blog_create_table = () => {
    //     alasql(`CREATE TABLE IF NOT EXISTS blog_table (id INT,
    //     article TEXT,
    //     comment_text TEXT,
    //     new_tag TEXT,
    //     tag_all TEXT
    //     )`);
    // }
const article_lists_create_table = () => {
alasql(`CREATE TABLE IF NOT EXISTS article_lists_table (
id INT PRIMARY KEY,
article TEXT,
search_txt TEXT,
sort_by TEXT,
sort_asc_or_desc BOOLEAN,
editing INT,
star_count INT,
comment_count INT,
article_length INT,
match_score INT)`);


// tag_filter_with_OR_selection
}
const tag_create_table = () => {
alasql(`CREATE TABLE IF NOT EXISTS tag_table (
id INT PRIMARY KEY,
no_filter_list_table_id INT REFERENCES no_filter_list_table(id),
tag TEXT)`);
}
const comment_create_table = () => {
alasql(`CREATE TABLE IF NOT EXISTS comment_table (
id INT PRIMARY KEY,
no_filter_list_table_id INT REFERENCES no_filter_list_table(id),
comment TEXT)`);
}
const no_filter_list_create_table = () => {
alasql(`CREATE TABLE IF NOT EXISTS no_filter_list_table (
id INT PRIMARY KEY,
article TEXT,
star_count INT,
comment_count INT,
article_length INT,
match_score NUMBER
)`);
// tag_list TEXT,
// comment_list TEXT,
}


const article_lists_table1 = [{
id: 1, 
article: "foo1", 
search_txt: "foo1", 
sort_by: "foo1", 
sort_asc_or_desc: true, 
editing: 0, 
star_count: 1, 
comment_count: 3, 
article_length: 3, 
match_score: 0
}];

const no_filter_list_table1 = [
{
id: 1,
article: "foo0",
star_count: 3,
comment_count: 1,
article_length: 4,
match_score: 0.1,
},
{
id: 2,
article: "bar",
star_count: 0,
comment_count: 1,
article_length: 3,
match_score: 0.2,
},
];
// var no_filter_list_data2 = [0,"foo1","foo1","foo1",true,0,1,3,3,0];
// var no_filter_list_data3 = (0,"foo1","foo1","foo1",true,0,1,3,3,0);

// alasql('INSERT INTO city VALUES ?', [data]);

// alasql('INSERT INTO article_lists_table(id, article, search_txt, sort_by, sort_asc_or_desc, editing, star_count, comment_count, article_length, match_score) VALUES ?', no_filter_list_data2 );

// alasql('INSERT INTO article_lists_table SELECT * FROM ?',[no_filter_list_data1]);


article_lists_create_table();
alasql('SELECT * INTO article_lists_table FROM ?', [article_lists_table1]);

no_filter_list_create_table();
alasql('SELECT * INTO no_filter_list_table FROM ?', [no_filter_list_table1]);

tag_create_table();
// alasql('INSERT INTO tag_table(id, article_lists_table_id, tag) VALUES (1, 1, "FOO1")' );
// alasql('INSERT INTO city VALUES ?', [data]);
// alasql('INSERT INTO tag_table VALUES ?', [1, 1, 'FOO1']);

// https://github.com/AlaSQL/alasql/wiki/How-to-insert-data-into-the-table#how-to-insert-data-into-the-table
const tag_sample1 = [
    {id: 1, no_filter_list_table_id: 1, tag: 'FOO1'},
    {id: 2, no_filter_list_table_id: 1, tag: 'FOO2'},
    {id: 3, no_filter_list_table_id: 1, tag: 'FOO3'},
];
// alasql.tables.tag_table.data = tag_sample1;
// alasql('INSERT INTO tag_table SELECT * FROM ?', [tag_sample1]);
alasql('SELECT * INTO tag_table FROM ?', [tag_sample1]);

// console.table(alasql('SELECT * FROM tag_table'));
// console.table(alasql('SELECT * FROM article_lists_table'));

comment_create_table();
const comment_sample1 = [
{id: 1, no_filter_list_table_id: 1, comment: 'FOO IS BAR' },
{id: 2, no_filter_list_table_id: 1, comment: 'BAR IS BUZ' },
{id: 3, no_filter_list_table_id: 1, comment: 'BUZ IS QUX' },
]
alasql('SELECT * INTO comment_table FROM ?', [comment_sample1]);
// console.table(alasql('SELECT * FROM comment_table'));

// const query1 = `SELECT * FROM article_lists_table.*, tag_table.* JOIN tag_table ON article_lists_table.id = tag_table.article_lists_table_id`;
const query1 = `SELECT * FROM no_filter_list_table JOIN tag_table ON no_filter_list_table.id = tag_table.no_filter_list_table_id`;
console.table(alasql(query1));
console.table(alasql(query1).map(RECORD=>RECORD.tag));

const query2 = `SELECT * FROM no_filter_list_table JOIN comment_table ON no_filter_list_table.id = comment_table.no_filter_list_table_id`;
console.table(alasql(query2));
console.table(alasql(query2).map(RECORD=>RECORD.comment));

const query3 = `SELECT *
FROM no_filter_list_table
JOIN tag_table
ON tag_table.no_filter_list_table_id = no_filter_list_table.id
JOIN comment_table
ON comment_table.no_filter_list_table_id = no_filter_list_table.id`;
console.table(alasql(query3));



// alasql('SELECT * INTO tag_table FROM ?',[
// alasql('INSERT INTO tag_table VALUES ?',[
// {id: 2},
// {article_lists_table_id: 1},
// {tag: 'FOO2'},
// ]);

// alasql('INSERT INTO tag_table VALUES ?', [
// {id: 3},
// {article_lists_table_id: 1},
// {tag: 'FOO3'},
// ]);


// alasql('INSERT INTO tag_table(id, article_lists_table_id, tag) VALUES (2, 1, "FOO2")' );
// alasql('INSERT INTO tag_table(id, article_lists_table_id, tag) VALUES (3, 1, "FOO3")' );



// alasql('INSERT INTO tag_table SELECT * FROM ?',[tag_data1]);
// alasql('INSERT INTO tag_table SELECT * FROM ?',[tag_data2]);
// alasql('INSERT INTO tag_table SELECT * FROM ?',[tag_data3]);




// comment_create_table();

// article_lists_create_table();




// addforeign key example
// alasql(`FOREIGN KEY(column_name) REFERENCES parent_table_name(parent_table_column_name)`);


// FOREIGN KEY (article_lists_table_id) REFERENCES article_lists_table(id)



// article_lists_table is unique table
// comment_table is article_lists_table's parent table(many to one)
// tag_table is no_filter_list_table's related table(many to many) Independent relationship
// tag_table is tag_filter_with_OR_selection_table's parent table(many to one)
// comment_table is no_filter_list_table's parent table(one to one)
// no_filter_list_table is article_lists_table's parent table(many to one)













// ... or manipulated with normal SQL
// alasql("INSERT INTO example1 VALUES (1,5)");

// var res = alasql("SELECT * FROM example1 ORDER BY b DESC");

// console.log(res);
// [{a:2,b:6},{a:1,b:5},{a:3,b:4}]

</script>
</body>
</html>