<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>speech bubble</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.js" integrity="sha512-WXWhnFUmZx+snPw8v2JjWQ0cdLUCLxTXhyqiZb7G5pkZZEGPBgVSzILSpkPK9haxW75sX5znfF08rsVnf6BUlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<link rel="stylesheet" href="./reset.css">

<!-- https://animate.style/ -->
<!-- https://acchou.github.io/html-css-cheat-sheet/animation.html -->
<link rel="stylesheet" href="./animate@3.5.2.css">

<script src="./vue@3.2.36.global.prod.js"></script>
<script src="./ramda.@0.28.0.js"></script>
<script>
console.log(`todo: insert timeline system
https://stackoverflow.com/questions/20618355/how-to-write-a-countdown-timer-in-javascript
`)
</script>
<!-- https://devtools.vuejs.org/ -->
<style>
input[type=text] {
width: 100%;
font-size: 14px;
outline: none;
color: #666;
}

.parent_bubble {
    display: grid;
    width: 1080px;
    height: 1920px;
    position: relative;
}
.bubble {
    border-radius: 5px;
    border: #666 3px solid;
    line-break: auto;
}
.bubble_2 {
}

.text{
    line-break: anywhere;
}

.foo{
    position: absolute;
    top: 0; left: 0;
    display: grid;
}
.foo > .fitter {
    background-color: plum;
    opacity: 0.6;
}

.bar{
    position: absolute;
    top: 0; left: 0;
    display: grid;
}
.bar > .fitter {
    background-color: orangered;
    opacity: 0.6;
    z-index: 100;
}

.no_show{
    display: none;
}
.small_image{
    width: 90px;
    height: 90px;
}
.coloring{
    background: rgb(52,44,196);
    background: linear-gradient(90deg, rgba(52,44,196,1) 9%, rgba(166,60,60,1) 35%, rgba(153,0,157,1) 93%);
}
    </style>
<style class="wrap"></style>
<style class="image_layer"></style>
<style class="active_bubble_and_image_layer"></style>
</head>
<body>
<div class="app">

<button @click="set_param_to_textarea_from_URL">set_param_to_textarea_from_URL</button>

<textarea name="time_line_to_textarea" class="time_line_to_textarea" placeholder="time_line_to_textarea" cols="30" rows="10"></textarea>
<textarea name="all_text" class="all_text" placeholder="all_text" cols="30" rows="10"></textarea>

<textarea name="active_layer_list" class="active_layer_list" placeholder="active_layer_list" v-model="active_layer_list" cols="30" rows="10"></textarea>
<textarea name="active_bubble_list" class="active_bubble_list" placeholder="active_bubble_list" v-model="active_bubble_list" cols="30" rows="10"></textarea>

<span>{{ $data }}</span>

<input type="number" name="COLUMN_POINT" class="COLUMN_POINT" v-model="COLUMN_POINT" min="1" max="10" step="1">
<input type="number" name="MAX_WIDTH" class="MAX_WIDTH" v-model="MAX_WIDTH">
<input type="number" name="ROW_POINT" class="ROW_POINT" v-model="ROW_POINT" min="1" max="10" step="1">
<input type="number" name="MAX_HEIGHT" class="MAX_HEIGHT" v-model="MAX_HEIGHT">

<input type="text" name="image_url_file_url" class="image_url_file_url" v-model="image_url_file_url" @input="get_image_url_list_from_url" @change="get_image_url_list_from_url" placeholder="I am not crazy; my reality is just different from yours.">
<textarea name="image_url_list" class="image_url_list" cols="100" rows="10" v-model="image_url_list"></textarea>

<!-- https://stackoverflow.com/q/61207314/9740478 -->
<template v-for="(OUTER_ARY, OUTER_ARY_INDEX) in layer_chunk">
<div v-for="(IN_ARY, IN_ARY_INDEX) in OUTER_ARY">
    <div v-for="(NO_USE_VAL, INDEX) in IN_ARY" :class="{ coloring: (active_the_image_index[0] === OUTER_ARY_INDEX && active_the_image_index[1] === IN_ARY_INDEX) ? true : false }">
        <input type='number' :step="(INDEX === 3||INDEX === 4) ? 0.1 : 1" v-model="IN_ARY[INDEX]">
        <img v-if="INDEX === 0" :src="image_num_to_image_url(IN_ARY[INDEX])" :alt="IN_ARY[INDEX]" class="small_image">
    </div>
    <input type="file" class="files" accept="image/png, image/jpeg" @change="img_set($event, OUTER_ARY_INDEX, IN_ARY_INDEX)">

    <select class="image_url_selecter" @change="image_url_select(OUTER_ARY_INDEX, IN_ARY_INDEX)" v-model="select_image_url_index">
        <option v-for="(image_url, image_url_index) in image_url_list.split('\n')"  :value="image_url_index">{{ image_url }}</option>
    </select>

    <button @click="active_the_image_for_get_num_fn(OUTER_ARY_INDEX, IN_ARY_INDEX)">active_the_image_for_get_num_fn</button>
</div>
<button @click="image_add(OUTER_ARY_INDEX)">image_add</button>
</template>

<span>image_checked: {{ image_checked }}</span>
<div class="image_setter">
<input type="checkbox" id="checkbox" v-model="image_checked">
<label for="checkbox">{{ image_checked }}</label>

<template v-for="(BUBBLE_DATA, BUBBLE_DATA_INDEX) in bubble_data_array">
BUBBLE_{{ BUBBLE_DATA_INDEX }}
<div>
<input type="number" name="bubble_column" class="bubble_column" v-model="BUBBLE_DATA[0]" step="0.1">
<input type="number" name="bubble_row" class="bubble_row" v-model="BUBBLE_DATA[1]" step="0.1">
<input type="number" name="bubble_2_column" class="bubble_2_column" v-model="BUBBLE_DATA[2]" step="0.1">
<input type="number" name="bubble_2_row" class="bubble_2_row" v-model="BUBBLE_DATA[3]" step="0.1">
<input type="number" name="speak" class="speak" v-model="BUBBLE_DATA[4]">
<input type="number" name="a_0" class="a_0" v-model="BUBBLE_DATA[5]">
<input type="number" name="a_1" class="a_1" v-model="BUBBLE_DATA[6]">
<input type="number" name="a_2" class="a_2" v-model="BUBBLE_DATA[7]">
<input type="number" name="a_3" class="a_3" v-model="BUBBLE_DATA[8]">
<input type="number" name="a_4" class="a_4" v-model="BUBBLE_DATA[9]">
<input type="number" name="a_5" class="a_5" v-model="BUBBLE_DATA[10]">
<input type="color" :class="'bubble_'+BUBBLE_DATA_INDEX+'_color'" :name="'bubble_'+BUBBLE_DATA_INDEX+'_color'" v-model='BUBBLE_DATA[11]'>
<input type="text" :class="'bubble_'+BUBBLE_DATA_INDEX+'_color'" :name="'bubble_'+BUBBLE_DATA_INDEX+'_color'" v-model="BUBBLE_DATA[11]">
<input type="color" :class="'bubble_'+BUBBLE_DATA_INDEX_2+'_color'" :name="'bubble_'+BUBBLE_DATA_INDEX_2+'_color'" v-model='BUBBLE_DATA[12]'>
<input type="text" :class="'bubble_'+BUBBLE_DATA_INDEX_2+'_color'" :name="'bubble_'+BUBBLE_DATA_INDEX_2+'_color'" v-model="BUBBLE_DATA[12]">

bubble_width_num<input type="number" name="bubble_width_num" class="bubble_width_num" v-model="BUBBLE_DATA[13]">
bubble_height_num<input type="number" name="bubble_height_num" class="bubble_height_num" v-model="BUBBLE_DATA[14]">
bubble_2_width_num<input type="number" name="bubble_2_width_num" class="bubble_2_width_num" v-model="BUBBLE_DATA[15]">
bubble_2_height_num<input type="number" name="bubble_2_height_num" class="bubble_2_height_num" v-model="BUBBLE_DATA[16]">

<input type="number" name="speak_size" class="speak_size" v-model="BUBBLE_DATA[17]" step="0.1">
</div>
</template>

<div class="parent_bubble_color">
    <input type="color" id="parent_bubble_color" name="parent_bubble_color" v-model='parent_bubble_color'>
    <label for="parent_bubble_color">parent_bubble_color</label>
    <input type="text" name="parent_bubble_color" v-model="parent_bubble_color">
</div>



<div class="bubble_setter">
<input type="checkbox" id="checkbox" v-model="bubble_checked">
<label for="checkbox">{{ bubble_checked }}</label>
    <div v-for="(BUBBLE_DATA, BUBBLE_DATA_INDEX) in bubble_data_array">
    <input type="radio" id="bubble" :value="BUBBLE_DATA_INDEX" v-model="picked_bubble_num">
    <label for="bubble" :style="'background-color: '+BUBBLE_DATA[11]">bubble: {{ BUBBLE_DATA_INDEX }}</label>
    <button @click="swap(BUBBLE_DATA)">swap</button>
    <button @click="numbers_minus_100(BUBBLE_DATA)">numbers_minus_100</button>
    <button @click="pattern_1(BUBBLE_DATA)">pattern_1</button>
    <button @click="pattern_2(BUBBLE_DATA)">pattern_2</button>
    <button @click="pattern_3(BUBBLE_DATA)">pattern_3</button>
    <button @click="pattern_4(BUBBLE_DATA)">pattern_4</button>
    <button @click="pattern_5(BUBBLE_DATA)">pattern_5</button>
    </div>
<span>picked_bubble_num: {{ picked_bubble_num }}</span>
</div>

bubble_no_show: <input type="checkbox" id="bubble_no_show_check" v-model="bubble_no_show">
<label for="bubble_no_show_check">{{ bubble_no_show }}</label>

<input type="number" name="active_layer_index" class="active_layer_index" v-model="active_layer_index" min="0" step="1">
all_display: <input type="checkbox" id="all_display" v-model="all_display">

<textarea v-for="(speak, speak_array_IDX) in speak_array" v-model="speak_array[speak_array_IDX]"></textarea>
<button @click="speak_array_add">speak_array_add</button>


<button @click="start_timer">!!!start_timer!!!</button>
<span class="timer"></span>

<div v-for="(TMP_TL, TMP_TL_INDEX) in tmp_tl_array">
    <input type="number" name="a_5" class="a_5" @change="change_tl_array($event, TMP_TL_INDEX)" v-model="TMP_TL">
</div>
<button @click="pre_set_timer">pre_set_timer</button>

<textarea cols="30" rows="10" @input="change_tl_str" v-model="tmp_tl_str"></textarea>

<div class="parent_bubble">

<div v-for="(BUBBLE_DATA, BUBBLE_DATA_INDEX) in bubble_data_array">
<div :class="'bubble_'+BUBBLE_DATA_INDEX">
    <p :class="'speak_'+BUBBLE_DATA_INDEX">{{ speak_array[BUBBLE_DATA[4]] }}</p>
</div>
<div :class="'bubble_'+BUBBLE_DATA_INDEX+'_2'"></div>
</div>

<div class="parent_image_layer">

<div :class="'layer_'+OUTER_ARY_INDEX" v-for="(OUTER_ARY, OUTER_ARY_INDEX) in layer_chunk">
<!-- <img :class="'image_'+OUTER_ARY_INDEX+'_'+IN_ARY_INDEX+' animated shake infinite'" v-for="(IN_ARY, IN_ARY_INDEX) in OUTER_ARY"> -->
<!-- <img :class="'image_'+OUTER_ARY_INDEX+'_'+IN_ARY_INDEX" class="animated shake infinite" v-for="(IN_ARY, IN_ARY_INDEX) in OUTER_ARY"> -->
<img :class="'image_'+OUTER_ARY_INDEX+'_'+IN_ARY_INDEX" v-for="(IN_ARY, IN_ARY_INDEX) in OUTER_ARY">
</div>


<div class="foo" :class="{ no_show: image_checked ? false : true }">
  <div v-for="(item, index) in foo_or_bar_matrix" class="fitter" @click="get_num_for_image">
    {{ item }}
  </div>
</div>

<div class="bar" :class="{ no_show: bubble_checked ? false : true }">
    <div v-for="(item, index) in foo_or_bar_matrix" class="fitter" @click="get_num_for_bubble">
        {{ item }}
    </div>
</div>


</div>
</div>
<script>
const app = Vue.createApp({
data() {
return {
COLUMN_POINT: 10,
MAX_WIDTH: 1080,
ROW_POINT: 10,
MAX_HEIGHT: 1920,

width_num: 36,
height_num: 36,

parent_bubble_color: "#e66465",

speak_array: [
'cute cat cute dog fool people',
'fool people make cool tool',
'tool is rule than fool animals',
'花の色はうつりにけりないたづらにわが身世にふるながめせしまに　花の色は うつりにけりな いたづらに わが身世にふる ながめせしまに',
'ハイパーな猫は、小さな体に抑圧されたエネルギーを放出する必要があるため、多動になりがちです。ハイパーな猫を落ち着かせるには、一緒に遊んだり、食事の時間をきちんと決めたりして、溜まったエネルギーを排出させることがポイントです。同様に、グルーミングをきちんと行い、鎮静剤を使ってみるのもよいでしょう。',
],
bubble_data_array: [
// => Array for Description => [
// 0 // bubble_column,
// 1 // bubble_row,
// 2 // bubble_2_column,
// 3 // bubble_2_row,
// 4 // speak,
// 5 // a_0,
// 6 // a_1,
// 7 // a_2,
// 8 // a_3,
// 9 // a_4,
// 10 // a_5,
// 11 // bubble_color,
// 12 // bubble_2_color,
// 13 // picked_bubble_num,
// ],
[1,1,4,1, 0 ,0,40,10,50,0,60,"#f6b73c",'#C0C0C0',360,360,360,360,30,100,50,],
[2,2,5,2, 1 ,0,40,10,50,0,60,"#dcc7c7",'#000000',360,360,360,360,30,100,50,],
[3,3,6,3, 2 ,0,40,10,50,0,60,"#a3ffe3",'#C0C0C0',360,360,360,360,30,100,50,],
[4,4,7,4, 3 ,0,40,10,50,0,60,"#a3ffe3",'#C0C0C0',360,360,360,360,30,100,50,],
],


bubble_checked: false,
image_checked: false,
bubble_no_show: false,



// Array of layers containing images and their parameters
// [0, 2,2,90,90,2]
// =>
// [0,           1,      2,   3,     4,      5,       6,        7]
// [image_index, column, row, width, height, z-index, x-offset, y-offset]
// [
//     [0, 2,2,90,90,2],
//     [1, 3,3,90,90,1]
// ]
// =>
// [
//     [image_index, column, row, width, height, z-index, x-offset, y-offset],
//     [image_index, column, row, width, height, z-index, x-offset, y-offset],
// ] => layer_0
// [
//     [
//         [0, 2,2,90,90,2,0,0,],
//         [1, 3,3,90,90,1,0,0,],
//     ],
//     [
//         [0, 1,1,90,90,4,0,0,],
//         [1, 4,4,90,90,3,0,0,],
//     ],
// ]
// =>
// [
//         lalyer_0,
//         layer_1,
// ] => layer chunk

layer_chunk: [
        // [
        //     [0, 1,1,1,1,1,0,0,],
        //     [0, 1,1,1,1,1,0,0,],
        // ],
        // [
        //     [0, 1,1,1,1,1,0,0,],
        //     [0, 1,1,1,1,1,0,0,],
        // ],
        [
            [2, 2,2,1,1,2,0,0,],
            [3, 3,3,2,2,1,0,0,],
        ],
        [
            [4, 1,1,2,2,4,0,0,],
            [5, 4,4,1,1,3,0,0,],
        ],
        [
            [6, 1,2,2,2,3,0,0,],
            [7, 4,2,2,2,3,0,0,],
        ],
    ],
active_the_image_index: [0, 0],
image_url_list: `https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/1.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/2.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/1_1.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/1_2.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/2_1.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/2_2.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/3_1.png
https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/3_2.png`,
select_image_url_index: 0,
image_url_file_url: 'https://raw.githubusercontent.com/taroyanaka/javascript/master/HTML/pwa-builder-test3/png_file_url.txt',
active_layer_index: 0,
all_display: false,


active_layer_list: `0
0 1
1 2
2`,
active_bubble_list: `0
0 1
1 2
2`,
tmp_tl_array: [],
tmp_tl_str: '',
index_time: 0,
timer: 0,
duration: 0,

}
},
watch: {
   layer_chunk: {
     handler() {
        this.exe();
     },
     deep: true
   },
   bubble_data_array: {
     handler() {
        this.exe();
     },
     deep: true
   },
   active_layer_index: {
     handler() {
        this.exe();
     },
     deep: true
   },
   all_display: {
     handler() {
        this.exe();
     },
     deep: true
   },
   speak_array: {
     handler() {
        this.exe();
     },
     deep: true
   },
},
computed: {
    foo_or_bar_matrix: function () {
        const x = R.range(1, this.COLUMN_POINT + 1);
        const y = R.range(1, this.ROW_POINT + 1);
        const x_y_number = R.xprod(x, y);
        return x_y_number.map(V=> (V[0]).toString() + "," + (V[1]).toString() );
    },
    // tmp_tl_str: function () {
    //     return this.tmp_tl_array.join("\n");
    // },
},
created() {
},
beforeMount() {
},
mounted() {
    this.exe();
},
updated() {
    this.exe();
},
beforeUpdated() {
},
methods: {
exe(){
    this.calc();
    this.fn_A();
    this.fn_C();
    this.fn_D();
// this.change_tl_array();
// this.make_tmp_tl_array();
},
calc() {
    this.width_num = this.MAX_WIDTH / this.COLUMN_POINT;
    this.height_num = this.MAX_HEIGHT / this.ROW_POINT;
},
fn_A() {
const dynamic_bubble_css = this.bubble_data_array.map((BUBBLE_DATA, BUBBLE_DATA_INDEX)=>
`.bubble_${BUBBLE_DATA_INDEX}{
    position: absolute;
    left: ${(BUBBLE_DATA[0] - 1) * this.width_num}px;
    top: ${(BUBBLE_DATA[1] - 1) * this.height_num}px;
    width: ${BUBBLE_DATA[13]}px;
    height: ${BUBBLE_DATA[14]}px;
    display: none;
    border-radius: ${BUBBLE_DATA[18]}px;
}
.bubble_${BUBBLE_DATA_INDEX}_2{
    position: absolute;
    left: ${(BUBBLE_DATA[2] - 1) * this.width_num}px;
    top: ${(BUBBLE_DATA[3] - 1) * this.height_num}px;
        width: ${BUBBLE_DATA[15]}px;
        height: ${BUBBLE_DATA[16]}px;
    clip-path: polygon(${BUBBLE_DATA[5]}% ${BUBBLE_DATA[6]}%, ${BUBBLE_DATA[7]}% ${BUBBLE_DATA[8]}%, ${BUBBLE_DATA[9]}% ${BUBBLE_DATA[10]}%);
    display: none;
}
.speak_${BUBBLE_DATA_INDEX}{
    font-size: ${BUBBLE_DATA[17]}px;
    margin: ${BUBBLE_DATA[19]}px;
}
.bubble_${BUBBLE_DATA_INDEX}{
    background-color: ${BUBBLE_DATA[11]};
}
.bubble_${BUBBLE_DATA_INDEX}_2{
    background-color: ${BUBBLE_DATA[12]};
}
.bubble_${BUBBLE_DATA_INDEX}_color{
    background-color: ${BUBBLE_DATA[11]};
}
.bubble_${BUBBLE_DATA_INDEX}_2_color{
    background-color: ${BUBBLE_DATA[12]};
}`
).join("\n");

document.querySelector(`.wrap`).textContent = `.parent_bubble{
    grid-template-columns: repeat(${this.COLUMN_POINT}, 1fr);
    grid-template-rows: repeat(${this.ROW_POINT}, 1fr);
}
.parent_bubble{
    background-color: ${this.parent_bubble_color};
}
.parent_bubble_color{
    background-color: ${this.parent_bubble_color};
}
.parent_bubble {
    width: ${this.MAX_WIDTH}px;
    height: ${this.MAX_HEIGHT}px;
}`
+
dynamic_bubble_css
+
`.foo{
    width: ${this.MAX_WIDTH}px;
    height: ${this.MAX_HEIGHT}px;
}
.bar{
    width: ${this.MAX_WIDTH}px;
    height: ${this.MAX_HEIGHT}px;
}
.foo{
    grid-template-columns: repeat(${this.COLUMN_POINT}, minmax(${this.width_num}px, 1fr));
    grid-template-rows: repeat(${this.ROW_POINT}, minmax(${this.height_num}px, 1fr));
}
.foo > .fitter {
    width: ${this.width_num}px;
    height: ${this.height_num}px;
    border: 0.1px solid green;
}

.bar{
    grid-template-columns: repeat(${this.COLUMN_POINT}, minmax(${this.width_num}px, 1fr));
    grid-template-rows: repeat(${this.ROW_POINT}, minmax(${this.height_num}px, 1fr));
}
.bar > .fitter {
    width: ${this.width_num}px;
    height: ${this.height_num}px;
    border: 0.1px solid red;
}
`;
},
get_num_for_image(event) {
    const COLUMN = event.target.innerText.split(",").map(V=>Number(V))[0];
    const ROW = event.target.innerText.split(",").map(V=>Number(V))[1];
    const [OUTER_ARY_INDEX, IN_ARY_INDEX] = [this.active_the_image_index[0], this.active_the_image_index[1]];
    this.layer_chunk[OUTER_ARY_INDEX][IN_ARY_INDEX][1] = ROW;
    this.layer_chunk[OUTER_ARY_INDEX][IN_ARY_INDEX][2] = COLUMN;
},
get_num_for_bubble(event) {
    const ROW = event.target.innerText.split(",").map(V=>Number(V))[0];
    const COLUMN = event.target.innerText.split(",").map(V=>Number(V))[1];
    const picked_bubble_data = this.bubble_data_array[this.picked_bubble_num];
    [picked_bubble_data[0], picked_bubble_data[1], picked_bubble_data[2], picked_bubble_data[3]]
        = [COLUMN, ROW, COLUMN, ROW];
},
fn_C(){
const leyer_N__image_N_n = this.layer_chunk.map((IN_ARY, OUTER_IDX)=>
`.layer_${OUTER_IDX}{display: none}
` +
IN_ARY.map((V, IDX)=>
`.layer_${OUTER_IDX} > .image_${OUTER_IDX}_${IDX}{

    animation: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

    content: url('${ this.image_num_to_image_url(V[0]) }');
    position: absolute;
    left: ${(V[1] - 1) * this.width_num + V[6]}px;
    top: ${(V[2] - 1) * this.height_num + V[7]}px;
    width: ${V[3] * this.width_num}px;
    height: ${V[4] * this.height_num}px;
    z-index: ${V[5]};
}
`).join("")
).join("");

document.querySelector(`.image_layer`).textContent = `.parent_image_layer{
    width: ${this.MAX_WIDTH}px;
    height: ${this.MAX_HEIGH}px;
    position: absolute;
    top: 0; left: 0;
}` + leyer_N__image_N_n
;
},
fn_D(){
    // this.make_tmp_tl_array();
    const active_number_list_from_textarea = (LIST_NAME) => {
        const target_str = LIST_NAME === 'active_bubble_list' ? this.active_bubble_list : this.active_layer_list;
        return  target_str
                .split("\n")
                .map(V=>V.split(" ")
                    .map(VAL=>Number(VAL)))
                [this.active_layer_index];
    };
    const active_image_layer_list = this.all_display ? this.layer_chunk.map((V,IDX)=>IDX) : active_number_list_from_textarea("active_layer_list");
    const active_bubble_list = this.all_display ? this.bubble_data_array.map((V,IDX)=>IDX) : active_number_list_from_textarea("active_bubble_list");
    const active_image_layer_display = active_image_layer_list.map(VAL=>`.layer_${VAL}{display: block}`).join("\n") + "\n";
    const active_bubble_display = active_bubble_list.map(VAL=>`.bubble_${VAL},
.bubble_${VAL}_2,
.speak_${VAL}{display: block}`).join("\n") + "\n";
    document.querySelector(`.active_bubble_and_image_layer`).textContent = active_bubble_display + active_image_layer_display;
},
swap(BUBBLE_DATA){
[BUBBLE_DATA[5], BUBBLE_DATA[6]] = [BUBBLE_DATA[6], BUBBLE_DATA[5]];
[BUBBLE_DATA[7], BUBBLE_DATA[8]] = [BUBBLE_DATA[8], BUBBLE_DATA[7]];
[BUBBLE_DATA[8], BUBBLE_DATA[9]] = [BUBBLE_DATA[9], BUBBLE_DATA[8]];
},
numbers_minus_100(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [100 - BUBBLE_DATA[5], 100 - BUBBLE_DATA[6], 100 - BUBBLE_DATA[7], 100 - BUBBLE_DATA[8], 100 - BUBBLE_DATA[8], 100 - BUBBLE_DATA[9],];
},
pattern_1(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [0, 0, 10, 10, 0, 20,];
},
pattern_2(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [0, 20, 10, 30, 0, 40,];
},
pattern_3(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [0, 40, 10, 50, 0, 60,];
},
pattern_4(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [0, 60, 10, 70, 0, 80,];
},
pattern_5(BUBBLE_DATA){
    [BUBBLE_DATA[5],BUBBLE_DATA[6],BUBBLE_DATA[7],BUBBLE_DATA[8],BUBBLE_DATA[8],BUBBLE_DATA[9],] = [0, 80, 10, 90, 0, 100,];
},
img_set(EVENT, OUTER_ARY_INDEX, IN_ARY_INDEX){
    // https://forum.vuejs.org/t/how-i-can-get-image-or-any-file-as-an-input-using-form-tag-then-store-and-display-on-page/127679/2
    const files = EVENT.target.files;
    if (!files.length) return;
    const reader = new FileReader();
    reader.readAsDataURL(files[0])
    reader.onload = () => (this.layer_chunk[OUTER_ARY_INDEX][IN_ARY_INDEX][0] = reader.result);
},
image_add(OUTER_ARY_INDEX){
    console.log(OUTER_ARY_INDEX);
    this.layer_chunk[OUTER_ARY_INDEX].push(['./1.png', 0,0,0,0,0]);
},
active_the_image_for_get_num_fn(OUTER_ARY_INDEX, IN_ARY_INDEX){
    this.active_the_image_index = [OUTER_ARY_INDEX, IN_ARY_INDEX];
},
image_url_select(OUTER_ARY_INDEX, IN_ARY_INDEX){
    this.layer_chunk[OUTER_ARY_INDEX][IN_ARY_INDEX][0] = this.select_image_url_index;
},
image_num_to_image_url(IMAGE_INDEX){
    return this.image_url_list.split("\n")[IMAGE_INDEX];
},
async get_image_url_list_from_url(){
    if(this.image_url_file_url === '') return;
    const response = await fetch(this.image_url_file_url);
    const url_list_text = await response.text();
    this.image_url_list = await url_list_text;
},
no_bubble(){
    return this.image_url_list.split("\n")[IMAGE_INDEX];
},
speak_array_add(){
    this.speak_array.push('foo bar baz');
},
make_tl_str(){
    this.tmp_tl_str = this.tmp_tl_array.join("\n");
},
change_tl_str(){
    this.tmp_tl_array = this.tmp_tl_str.split("\n");
},
change_tl_array(EVENT, INDEX){
    const up_or_down = this.tmp_tl_array[INDEX] < EVENT.target.value ? 'up' : 'down';
    this.tmp_tl_array = up_or_down === 'up' ?
            this.tmp_tl_array.map(V=>Number(V)).map((V, IDX)=>IDX >= INDEX ? V + 1 : V)
            :
            this.tmp_tl_array.map(V=>Number(V)).map((V, IDX)=>IDX >= INDEX ? V - 1 : V);
    this.make_tl_str();
    this.timer = this.duration = this.tmp_tl_array[this.tmp_tl_array.length - 1];
},
make_tmp_tl_array(){
    const longer_active_list_line_length = this.active_layer_list.split("\n").length >= this.active_bubble_list.split("\n").length ?
                                            this.active_layer_list.split("\n").length : this.active_bubble_list.split("\n").length;
    this.tmp_tl_array = R.range(0, longer_active_list_line_length);
    this.make_tl_str();
    return R.range(0, longer_active_list_line_length);
},
pre_set_timer(){
    this.index_time = 0;
    this.timer = this.duration = this.make_tmp_tl_array().slice(-1)[0];
},
start_timer() {
    const timer_stop = (INTERVAL_ID) => {
        if (this.timer < 0) {
            this.timer = this.duration;
            this.index_time = 0;
            clearInterval(INTERVAL_ID);
        }
    };
    const intervalID = setInterval(() => {
        // range_list([0,2,5,7]);
        // => [[0, 1], [2, 3, 4], [5, 6]]
        const range_list = (LIST) => LIST.reduce((A,V,IDX,LIST)=>{A.push([LIST[IDX], LIST[IDX+1]]);return A;},A=[]).slice(0, -1).map(V=>R.range(V[0], V[1]));
        const res = range_list(this.tmp_tl_array);
        const pre_index_time_IDX = res.map((V, IDX)=>V.includes( this.index_time ) ? true : false);
        let index_time_IDX = res.map((V, IDX)=>V.includes( this.index_time ) ? true : false)
                                    .findIndex(V=>V===true);
        // when .findIndex return -1, it means that the index_time is not in the range_list
        index_time_IDX = index_time_IDX === -1 ? (pre_index_time_IDX.length) : index_time_IDX;
        this.index_time = this.index_time + 1;
        this.timer = this.timer - 1;
        this.active_layer_index = index_time_IDX;
console.log(
"pre_index_time_IDX: ", pre_index_time_IDX,
"this.tmp_tl_array: ", this.tmp_tl_array,
"index_time_IDX: " ,index_time_IDX,
"index_time: " ,this.index_time,
);
        timer_stop(intervalID);
    }, 1000);
},
set_param_to_textarea_from_URL(){
    const param_val = (new URL(window.location.href)).searchParams.get("time_line_and_text");
    const parsed_param_val = JSON.parse(param_val);
    // [document.querySelector(".time_line_to_textarea").value, document.querySelector(".all_text").value]
    // [document.querySelector(".time_line_to_textarea").value, this.speak_array]
    [this.tmp_tl_array, this.speak_array]
        = [parsed_param_val[0].split("\n"), parsed_param_val[1].split("\n")];
    this.make_tl_str();
    console.log(param_val);
    console.log(parsed_param_val);
}
},
}).mount('.app');
</script>
</body>
</html>