<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>speech bubble</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.js" integrity="sha512-WXWhnFUmZx+snPw8v2JjWQ0cdLUCLxTXhyqiZb7G5pkZZEGPBgVSzILSpkPK9haxW75sX5znfF08rsVnf6BUlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="svg.@3.1.2.js"></script>
<script src="./vue@3.2.36.global.prod.js"></script>
<script src="ramda.@0.28.0.js"></script>

<!-- https://devtools.vuejs.org/ -->

    <style>
    /* @import url('https://fonts.googleapis.com/css?family=Inconsolata'); */
    #drawing {
        width: 100%;
        height: 300px;
    }
    tspan {
        fill: #e5e5e5;
        stroke: #f06;
        stroke-width: 0.85;
    /* font-family: 'Inconsolata'; */
    }
    input[type=text] {
        width: 100%;
    /* font-family: 'Inconsolata'; */
    font-size: 14px;
    outline: none;
    color: #666;
    }


.parent_bubble {
    display: grid;
    width: 360px;
    height: 360px;
position: relative;
  /* grid-column-gap: 15px; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}
.bubble {
    border-radius: 5px;
    border: #666 3px solid;
    line-break: auto;
}
.bubble_2 {
}
.cat{
width: 90px;
height: 90px;
}

.text{
    line-break: anywhere;
}



.foo{
    position: absolute;
    top: 100px; left: 100px;
    display: grid;
    width: 360px;
    height: 360px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
}
.foo > .fitter {
    width: 90px;
    height: 90px;
    border: 1px solid green;
    background-color: lime;
    opacity: 0.6;
}

.bar{
    position: absolute;
    top: 0; left: 0;
    display: grid;
    width: 360px;
    height: 360px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
}
.bar > .fitter {
    width: 90px;
    height: 90px;
    border: 1px solid red;
    background-color: orangered;
    opacity: 0.6;
}

.no_show{
    display: none;
}
.small_image{
    width: 90px;
    height: 90px;
}
    </style>
<style class="wrap"></style>
<style class="image_layer"></style>
</head>
<body>
<div class="app">
<span>{{ $data }}</span>


<!-- https://stackoverflow.com/q/61207314/9740478 -->
<template v-for="(IN_ARY, IN_ARY_INDEX) in image_and_the_parameter">
<div v-for="(v, INDEX) in IN_ARY">
    <input :type="typeof IN_ARY[INDEX] === 'string' ? 'text' : 'number'" v-model="IN_ARY[INDEX]"/>
    <img v-if="INDEX === 0" :src="IN_ARY[INDEX]" :alt="IN_ARY[INDEX]" class="small_image">
</div>
<input type="file" class="" :name="IN_ARY_INDEX" accept="image/png, image/jpeg" @change="img_set">
</template>

<span>image_checked: {{ image_checked }}</span>
<div class="image_setter">
<input type="checkbox" id="checkbox" v-model="image_checked">
<label for="checkbox">{{ image_checked }}</label>



<input type="number" name="MAX_NUM" class="MAX_NUM" v-model="MAX_NUM">
<input type="number" name="width_num" class="width_num" v-model="width_num">
<input type="number" name="height_num" class="height_num" v-model="height_num">
<input type="number" name="bubble_column" class="bubble_column" v-model="bubble_column">
<input type="number" name="bubble_row" class="bubble_row" v-model="bubble_row">
<input type="number" name="bubble_2_column" class="bubble_2_column" v-model="bubble_2_column">
<input type="number" name="bubble_2_row" class="bubble_2_row" v-model="bubble_2_row">

<input type="number" name="a_0" class="a_0" v-model="a_0">
<input type="number" name="a_1" class="a_1" v-model="a_1">
<input type="number" name="a_2" class="a_2" v-model="a_2">
<input type="number" name="a_3" class="a_3" v-model="a_3">
<input type="number" name="a_4" class="a_4" v-model="a_4">
<input type="number" name="a_5" class="a_5" v-model="a_5">

<div class="parent_bubble_color">
    <input type="color" id="parent_bubble_color" name="parent_bubble_color" v-model='parent_bubble_color'>
    <label for="parent_bubble_color">parent_bubble_color</label>
    <input type="text" name="parent_bubble_color" v-model="parent_bubble_color">
</div>
<div class="bubble_color">
    <input type="color" id="bubble_color" name="bubble_color" v-model='bubble_color'>
    <label for="bubble_color">bubble_color</label>
    <input type="text" name="bubble_color" v-model="bubble_color">
</div>
<div class="bubble_2_color">
    <input type="color" id="bubble_2_color" name="bubble_2_color" v-model='bubble_2_color'>
    <label for="bubble_2_color">bubble_2_color</label>
    <input type="text" name="bubble_2_color" v-model="bubble_2_color">
</div>
<!-- <input type="text" name="parent_bubble_color" class="parent_bubble_color" v-model="parent_bubble_color"> -->
<!-- <input type="text" name="bubble_color" class="bubble_color" v-model="bubble_color"> -->
<!-- <input type="text" name="bubble_2_color" class="bubble_2_color" v-model="bubble_2_color"> -->

<!-- <input type="number" name="b_0" class="b_0" v-model="b_0">
<input type="number" name="b_1" class="b_1" v-model="b_1">
<input type="number" name="b_2" class="b_2" v-model="b_2">
<input type="number" name="b_3" class="b_3" v-model="b_3">
<input type="number" name="b_4" class="b_4" v-model="b_4">
<input type="number" name="b_5" class="b_5" v-model="b_5"> -->

<button v-on:click.once="swap" value="swap">swap</button>
<button v-on:click.once="numbers_minus_100" value="numbers_minus_100">numbers_minus_100</button>

<button @click="pattern_1" value="pattern_1">pattern_1</button>
<button @click="pattern_2" value="pattern_2">pattern_2</button>
<button @click="pattern_3" value="pattern_3">pattern_3</button>
<button @click="pattern_4" value="pattern_4">pattern_4</button>
<button @click="pattern_5" value="pattern_5">pattern_5</button>

<!-- <input type="number" name="COLUMN_OFFSET" class="COLUMN_OFFSET" v-model="COLUMN_OFFSET">
<input type="number" name="COLUMN_OFFSET_plus_bubble_2" class="COLUMN_OFFSET_plus_bubble_2" v-model="COLUMN_OFFSET_plus_bubble_2">
<input type="number" name="ROW_OFFSET" class="ROW_OFFSET" v-model="ROW_OFFSET">
<input type="number" name="ROW_OFFSET_plus_bubble_2" class="ROW_OFFSET_plus_bubble_2" v-model="ROW_OFFSET_plus_bubble_2"> -->
<input type="text" name="speak" class="speak" v-model="speak">



<div class="bubble_setter">
<input type="checkbox" id="checkbox" v-model="bubble_checked">
<label for="checkbox">{{ bubble_checked }}</label>
<input type="radio" id="bubble" value="bubble" v-model="picked">
<label for="bubble">bubble</label>
<input type="radio" id="bubble_2" value="bubble_2" v-model="picked">
<label for="bubble_2">bubble_2</label>
<br>
<span>picked: {{ picked }}</span>
</div>

<div class="parent_bubble">

<div class="parent_image_layer">
<div class="image_0"></div>
<div class="image_1"></div>
</div>

<div class="foo" :class="{ no_show: image_checked ? false : true }">
  <div v-for="(item, index) in get_n_n_array()" class="fitter" @click="get_num_for_image">
    {{ item }}
    <!-- <img src="./cat.png" alt="cat" class="cat"> -->
  </div>
</div>

<div class="bar" :class="{ no_show: bubble_checked ? false : true }">
  <div v-for="(item, index) in get_n_n_array()" class="fitter" @click="get_num_for_bubble">
    {{ item }}
  </div>
</div>

    <div class="bubble"><p class="speak" v-model="speak">{{ speak }}</p></div>
    <div class="bubble_2"></div>

</div>

<div class="balloon4"></div>

</div>
<style>
</style>
<!-- <img src="./mug.png" alt="mug"> -->
<script>
const app = Vue.createApp({
data() {
return {
    MAX_NUM: 4,
    width_num: 90,
    height_num: 90,
bubble_column: 1,
bubble_row: 1,
bubble_2_column: 1,
bubble_2_row: 1,
    // COLUMN_OFFSET: 1,
    // COLUMN_OFFSET_plus_bubble_2: 1,
    // COLUMN_OFFSET_plus_bubble_2_result: 0,
    // ROW_OFFSET: 1,
    // ROW_OFFSET_plus_bubble_2: 1,
    speak: 'cute cat cute dog fool people',

a_0: 0,
a_1: 40,
a_2: 10,
a_3: 50,
a_4: 0,
a_5: 60,

// parent_bubble_color: 'purple',
parent_bubble_color: "#e66465",
// bubble_color: 'blue',
bubble_color: "#f6b73c",
// bubble_2_color: 'gray',
bubble_2_color: '#C0C0C0',

picked: '',
bubble_checked: false,
image_checked: true,

image_and_the_parameter: [
        [`./${1}.png`, 3,2,90,90,2],
        [`./${2}.png`, 3,4,90,90,1],
    ],

}
},
watch: {
   image_and_the_parameter: {
     handler() {
        console.log('change');
        this.fn_C();
     },
     deep: true
   }
},
    // computed: {
    //     COMP: function () {
    //         return COMP;
    //     }
    // },
created() {
},
beforeMount() {
},
mounted() {
    this.calc();
    this.fn_A();
    this.fn_B();
    this.fn_C();
},
updated() {
    this.calc();
    this.fn_A();
},
beforeUpdated() {
},
methods: {
calc() {
},
fn_A() {
document.querySelector(`.wrap`).textContent = `.parent_bubble{
    grid-template-columns: repeat(${this.MAX_NUM}, 1fr);
    grid-template-rows: repeat(${this.MAX_NUM}, 1fr);
}
.bubble{
    grid-column: ${this.bubble_column}/${this.MAX_NUM};
    grid-row: ${this.bubble_row}/${this.MAX_NUM};
        width: ${this.width_num}px;
        height: ${this.height_num}px;
}
.bubble_2{
    grid-column: ${this.bubble_2_column}/${this.MAX_NUM};
    grid-row: ${this.bubble_2_row}/${this.MAX_NUM};
        width: ${this.width_num}px;
        height: ${this.height_num}px;
    clip-path: polygon(${this.a_0}% ${this.a_1}%, ${this.a_2}% ${this.a_3}%, ${this.a_4}% ${this.a_5}%);
}
.parent_bubble{
    background-color: ${this.parent_bubble_color};
}
.bubble{
    background-color: ${this.bubble_color};
}
.bubble_2{
    background-color: ${this.bubble_2_color};
}
.parent_bubble_color{
    background-color: ${this.parent_bubble_color};
}
.bubble_color{
    background-color: ${this.bubble_color};
}
.bubble_2_color{
    background-color: ${this.bubble_2_color};
}
`;
},
get_num_for_image(event) {
    const ROW = event.target.innerText.split(",").map(V=>Number(V))[0];
    const COLUMN = event.target.innerText.split(",").map(V=>Number(V))[1];
    this.picked === 'bubble' ? [this.bubble_row, this.bubble_column] = [ROW, COLUMN] : [this.bubble_2_row, this.bubble_2_column] = [ROW, COLUMN];
},
get_num_for_bubble(event) {
    const ROW = event.target.innerText.split(",").map(V=>Number(V))[0];
    const COLUMN = event.target.innerText.split(",").map(V=>Number(V))[1];
    this.picked === 'bubble' ? [this.bubble_row, this.bubble_column] = [ROW, COLUMN] : [this.bubble_2_row, this.bubble_2_column] = [ROW, COLUMN];
},
get_n_n_array(){
    // return this.MAX_NUM * this.MAX_NUM
    return R.times(R.identity, this.MAX_NUM * this.MAX_NUM);
    // return [1,2,3,4];
},
fn_B(EVENT){
const n_n = this.MAX_NUM * this.MAX_NUM;
// document.querySelector(`.foo`).innerHTML = R.repeat(`<div class="fitter">f</div>`, n_n).join("");
// document.querySelector(`.bar`).innerText = R.repeat(`<div class="fitter" @click="get_num_for_image">NUMBER</div>`, n_n).map((V,IDX)=>[V, IDX]).map(V=>V[0].replace("NUMBER", V[1]+1)).join("");


const exe = () => {
    // const x_y_number = Array.from(document.querySelectorAll(`.bar > div`)).map((V,IDX)=>Number(IDX)).map(V=>[Math.floor(V/4), V%4]).map(V=>[V[0]+1, V[1]+1]);
    // document.querySelectorAll(`.bar > div`).forEach((V,IDX)=>V.innerText = x_y_number[IDX].join(`,`));

    ['foo', 'bar'].forEach(foo_bar=>{
        const x_y_number = Array.from(document.querySelectorAll(`.${foo_bar} > div`)).map((V,IDX)=>Number(IDX)).map(V=>[Math.floor(V/4), V%4]).map(V=>[V[0]+1, V[1]+1]);
        document.querySelectorAll(`.${foo_bar} > div`).forEach((V,IDX)=>V.innerText = x_y_number[IDX].join(`,`));
    });


};
exe();

},
fn_C(){
// const image_num_array = [
// [1,2,90,90,2],
// [3,4,90,90,1],
// ]
document.querySelector(`.image_layer`).textContent = `.parent_image_layer{
    display: grid;
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0; left: 0;
}` + this.image_and_the_parameter.map((V,IDX)=>`.image_${IDX}{
    content: url(${V[0]});
    grid-column: ${V[1]}/${this.MAX_NUM};
    grid-row: ${V[2]}/${this.MAX_NUM};
        width: ${V[3]}px;
        height: ${V[4]}px;
    z-index: ${V[5]};
}`).join("");
},
swap(){
[this.a_0, this.a_1] = [this.a_1, this.a_0];
[this.a_2, this.a_3] = [this.a_3, this.a_2];
[this.a_4, this.a_5] = [this.a_5, this.a_4];
},
numbers_minus_100(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [100 - this.a_0, 100 - this.a_1, 100 - this.a_2, 100 - this.a_3, 100 - this.a_4, 100 - this.a_5,];
},
pattern_1(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 0, 10, 10, 0, 20,];
},
pattern_2(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 20, 10, 30, 0, 40,];
},
pattern_3(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 40, 10, 50, 0, 60,];
},
pattern_4(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 60, 10, 70, 0, 80,];
},
pattern_5(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 80, 10, 90, 0, 100,];
},
get_image_array(){
    return R.times(R.identity, 2).map(V=>`./${V+1}.png`);
},
img_set(EVENT){
// https://forum.vuejs.org/t/how-i-can-get-image-or-any-file-as-an-input-using-form-tag-then-store-and-display-on-page/127679/2
    const files = EVENT.target.files;
    if (!files.length) return;
    const reader = new FileReader();
    reader.readAsDataURL(files[0])
    reader.onload = () => (document.querySelectorAll("img")[Number(EVENT.target.name)].src = reader.result);
},
watch_it(){
    console.log("fooooo")
},
},

}).mount('.app');

    // app.$watch('image_and_the_parameter', function (newVal, oldVal) {
    //     console.log("barrrrrrrrr")
    // },{
    //     deep: true
    // });

</script>
</body>
</html>