<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>speech bubble</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.js" integrity="sha512-WXWhnFUmZx+snPw8v2JjWQ0cdLUCLxTXhyqiZb7G5pkZZEGPBgVSzILSpkPK9haxW75sX5znfF08rsVnf6BUlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="svg.@3.1.2.js"></script>
<script src="./vue@3.2.36.global.prod.js"></script>
<!-- https://devtools.vuejs.org/ -->

    <style>
    /* @import url('https://fonts.googleapis.com/css?family=Inconsolata'); */
    #drawing {
        width: 100%;
        height: 300px;
    }
    tspan {
        fill: #e5e5e5;
        stroke: #f06;
        stroke-width: 0.85;
    /* font-family: 'Inconsolata'; */
    }
    input[type=text] {
        width: 100%;
    /* font-family: 'Inconsolata'; */
    font-size: 14px;
    outline: none;
    color: #666;
    }


.parent_bubble {
    display: grid;
    width: 360px;
    height: 360px;
}
.bubble {
    border-radius: 10px;
    line-break: auto;
}
.bubble_2 {
}
.text{
    line-break: anywhere;
}
    </style>
<style class="wrap"></style>
</head>
<body>
<div class="app">
<span>{{ $data }}</span>

<input type="number" name="MAX_NUM" class="MAX_NUM" v-model="MAX_NUM">
<input type="number" name="width_num" class="width_num" v-model="width_num">
<input type="number" name="height_num" class="height_num" v-model="height_num">
<input type="number" name="bubble_column" class="bubble_column" v-model="bubble_column">
<input type="number" name="bubble_row" class="bubble_row" v-model="bubble_row">
<input type="number" name="bubble_2_column" class="bubble_2_column" v-model="bubble_2_column">
<input type="number" name="bubble_2_row" class="bubble_2_row" v-model="bubble_2_row">

<input type="number" name="a_0" class="a_0" v-model="a_0">
<input type="number" name="a_1" class="a_1" v-model="a_1">
<input type="number" name="a_2" class="a_2" v-model="a_2">
<input type="number" name="a_3" class="a_3" v-model="a_3">
<input type="number" name="a_4" class="a_4" v-model="a_4">
<input type="number" name="a_5" class="a_5" v-model="a_5">

<div>
    <input type="color" id="parent_bubble_color" name="parent_bubble_color" v-model='parent_bubble_color'>
    <label for="parent_bubble_color">parent_bubble_color</label>
</div>
<div>
    <input type="color" id="bubble_color" name="bubble_color" v-model='bubble_color'>
    <label for="bubble_color">bubble_color</label>
</div>
<div>
    <input type="color" id="bubble_2_color" name="bubble_2_color" v-model='bubble_2_color'>
    <label for="bubble_2_color">bubble_2_color</label>
</div>
<!-- <input type="text" name="parent_bubble_color" class="parent_bubble_color" v-model="parent_bubble_color"> -->
<!-- <input type="text" name="bubble_color" class="bubble_color" v-model="bubble_color"> -->
<!-- <input type="text" name="bubble_2_color" class="bubble_2_color" v-model="bubble_2_color"> -->

<!-- <input type="number" name="b_0" class="b_0" v-model="b_0">
<input type="number" name="b_1" class="b_1" v-model="b_1">
<input type="number" name="b_2" class="b_2" v-model="b_2">
<input type="number" name="b_3" class="b_3" v-model="b_3">
<input type="number" name="b_4" class="b_4" v-model="b_4">
<input type="number" name="b_5" class="b_5" v-model="b_5"> -->

<button v-on:click.once="swap" value="swap">swap</button>
<button v-on:click.once="numbers_minus_100" value="numbers_minus_100">numbers_minus_100</button>

<button @click="pattern_1" value="pattern_1">pattern_1</button>
<button @click="pattern_2" value="pattern_2">pattern_2</button>
<button @click="pattern_3" value="pattern_3">pattern_3</button>
<button @click="pattern_4" value="pattern_4">pattern_4</button>
<button @click="pattern_5" value="pattern_5">pattern_5</button>


<!-- <input type="number" name="COLUMN_OFFSET" class="COLUMN_OFFSET" v-model="COLUMN_OFFSET">
<input type="number" name="COLUMN_OFFSET_plus_bubble_2" class="COLUMN_OFFSET_plus_bubble_2" v-model="COLUMN_OFFSET_plus_bubble_2">
<input type="number" name="ROW_OFFSET" class="ROW_OFFSET" v-model="ROW_OFFSET">
<input type="number" name="ROW_OFFSET_plus_bubble_2" class="ROW_OFFSET_plus_bubble_2" v-model="ROW_OFFSET_plus_bubble_2"> -->
<input type="text" name="speak" class="speak" v-model="speak">

<div class="parent_bubble">
    <div class="bubble"><p class="speak" v-model="speak">{{ speak }}</p></div>
    <div class="bubble_2"></div>
</div>

<div class="balloon4"></div>

<div id="drawing"></div>
</div>

<style>
</style>

<script>
const app = Vue.createApp({
data() {
return {
    MAX_NUM: 4,
    width_num: 90,
    height_num: 90,
bubble_column: 1,
bubble_row: 1,
bubble_2_column: 1,
bubble_2_row: 1,
    // COLUMN_OFFSET: 1,
    // COLUMN_OFFSET_plus_bubble_2: 1,
    // COLUMN_OFFSET_plus_bubble_2_result: 0,
    // ROW_OFFSET: 1,
    // ROW_OFFSET_plus_bubble_2: 1,
    speak: 'cute cat cute dog fool people',

a_0: 0,
a_1: 40,
a_2: 10,
a_3: 50,
a_4: 0,
a_5: 60,

// parent_bubble_color: 'purple',
parent_bubble_color: "#e66465",
// bubble_color: 'blue',
bubble_color: "#f6b73c",
// bubble_2_color: 'gray',
bubble_2_color: '#C0C0C0',

// b_0: 0,
// b_1: 10,
// b_2: 10,
// b_3: 20,
// b_4: 0,
// b_5: 30,
}
},
    // computed: {
    //     COMP: function () {
    //         return COMP;
    //     }
    // },
created() {
},
beforeMount() {
},
mounted() {
    this.calc();
    this.fn_A();

    this.fn_B();

},
updated() {
    this.calc();
    this.fn_A();
},
beforeUpdated() {
},
watch: {
    // web_data_list(new_web_data_list, old_web_data_list) {
    //     console.log('forceUpdated from new_web_data_list!!');
    //     app.$forceUpdate();
    // }
},

methods: {
calc() {
},
fn_A() {
document.querySelector(`.wrap`).textContent = `.parent_bubble{
    grid-template-columns: repeat(${this.MAX_NUM}, 1fr);
    grid-template-rows: repeat(${this.MAX_NUM}, 1fr);
}
.bubble{
    grid-column: ${this.bubble_column}/${this.MAX_NUM};
    grid-row: ${this.bubble_row}/${this.MAX_NUM};
        width: ${this.width_num}px;
        height: ${this.height_num}px;
}
.bubble_2{
    grid-column: ${this.bubble_2_column}/${this.MAX_NUM};
    grid-row: ${this.bubble_2_row}/${this.MAX_NUM};
        width: ${this.width_num}px;
        height: ${this.height_num}px;
    clip-path: polygon(${this.a_0}% ${this.a_1}%, ${this.a_2}% ${this.a_3}%, ${this.a_4}% ${this.a_5}%);
}
.parent_bubble{
    background-color: ${this.parent_bubble_color};
}
.bubble{
    background-color: ${this.bubble_color};
}
.bubble_2{
    background-color: ${this.bubble_2_color};
}`;
},
fn_B(EVENT) {
// document.querySelector(`.wrap`).textContent = `.parent_bubble{
//     background-color: purple;
// }
// .bubble{
//     background-color: blue;
// }
// .bubble_2{
//     background-color: gray;
// }`;
},
swap(){
[this.a_0, this.a_1] = [this.a_1, this.a_0];
[this.a_2, this.a_3] = [this.a_3, this.a_2];
[this.a_4, this.a_5] = [this.a_5, this.a_4];
},
numbers_minus_100(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [100 - this.a_0, 100 - this.a_1, 100 - this.a_2, 100 - this.a_3, 100 - this.a_4, 100 - this.a_5,];
},
pattern_1(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 0, 10, 10, 0, 20,];
},
pattern_2(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 20, 10, 30, 0, 40,];
},
pattern_3(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 40, 10, 50, 0, 60,];
},
pattern_4(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 60, 10, 70, 0, 80,];
},
pattern_5(){
    [this.a_0,this.a_1,this.a_2,this.a_3,this.a_4,this.a_5,] = [0, 80, 10, 90, 0, 100,];
},

},
}).mount('.app');
</script>
</body>
</html>