<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- <script src="./vue@3.2.36.global.js"></script> -->
<script src="./vue@3.2.36.global.prod.js"></script>
<script src="./localforage.js"></script>
<script src="./ramda.@0.28.0.js"></script>
<style>
ul{
list-style-type: none;
}
/* grid layout */
.app {
display: grid;
grid-auto-columns: auto;
grid-template-rows: 0.3fr 2fr 1fr;
grid-gap: 0px;
grid-template-areas:
    "button"
    "textarea"
    "list";
}
.button_parent{
display: grid;
grid-area: button;
grid-template-rows: 1fr;
grid-template-columns: repeat(3, 1fr);
}
.textarea_parent {
display: grid;
grid-auto-rows: auto;
grid-template-columns: 2fr 1fr 1fr 2fr;
grid-gap: 0px;
}
</style>
</head>
<body>
<div class="app">

<div class="button_parent">
<input type="button" value="save_data_to_all_save" @click="save_data_to_all_save">
<input type="button" value="sample_en" @click="sample_en">
<input type="button" value="sample_ja" @click="sample_ja">
</div>

<div class="textarea_parent">
<textarea name="a" id="a" cols="5" rows="10" v-model="a" @input=""></textarea>
<textarea name="b" id="b" cols="5" rows="10" v-model="b"></textarea>
<textarea name="c" id="c" cols="5" rows="10" v-model="c"></textarea>
<textarea name="d" id="d" cols="5" rows="10" v-model="result">{{ result }}</textarea>
</div>

<ul>
<input type="button" value="sort_by_when" @click="sort_by_when">
<input type="button" value="sort_by_rating" @click="sort_by_rating">
<li v-for="(item, index) in all_save">
<!-- <li v-for="item in all_save" @click="save_data_set(index)"> -->
<button @click="save_data_set(index)">save_data_set</button>
<!-- index {{ index }}:  -->
{{ item[4] }}: rating {{ item[3] }} <button @click="rating_up(index)">🔼</button><button @click="rating_down(index)">🔽</button>: {{ item }}
<button @click="save_data_delete(index)">save_data_delete</button>
</li>
</ul>

</div>
</body>
<script>
const app = Vue.createApp({
    data() {
        return {
            a: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
            b: 'BC\nEF\nHI\nXY',
            c: 'bc\nef\nhi\nxy',
            rating: 0,
            when: null,
            save_data: [],
            all_save: [],
            sort_by: 'asc',
        }
    },
    computed: {
        result: function () {
            this.when = (new Date()).toLocaleString('en');
            // this.save_data_load();
            this.refrech_save_data();

            let tmp = this.a;
            R.zip(
                this.b.split("\n"),
                this.c.split("\n"))
                    .forEach(V=>
                        tmp = tmp.replaceAll(V[0],
                                                V[1]));
            return tmp;
        }
    },
    mounted() {
        this.save_data_load();
    },
    beforeUpdated() {
    },
    updated() {
        this.save_data_load();
    },
    methods: {
        sample_en(){
                    this.a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                    this.b = 'BC\nEF\nHI\nXY';
                    this.c = 'bc\nef\nhi\nxy';
        },
        sample_ja(){
                    this.a = `いろはにほへと　ちりぬるを
わかよたれそ　つねならむ
うゐのおくやま　けふこえて
あさきゆめみし　ゑひもせす`;
                    this.b = 'はに\nなら\nゆめ\nもせ';
                    this.c = 'hani\nnara\nyume\nmose';
        },
        refrech_save_data() {
                    this.save_data = [
                        this.a,
                        this.b,
                        this.c,
                        this.rating,
                        this.when,
                    ];
        },
        async rating_up(INDEX){
            this.all_save[INDEX][3]++;
            await localforage.setItem('key', JSON.stringify(this.all_save));
        },
        async rating_down(INDEX){
            this.all_save[INDEX][3]--;
            await localforage.setItem('key', JSON.stringify(this.all_save));
        },
        async save_data_to_all_save(){
            this.all_save.push(this.save_data);
            await localforage.setItem('key', JSON.stringify(this.all_save));
        },
        async save_data_load() {
            this.all_save = JSON.parse(await localforage.getItem('key')) || [];
        },
        save_data_set(INDEX){
            [this.a, this.b, this.c, this.rating] = this.all_save[INDEX];
        },
        async save_data_delete(INDEX){
            if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕")) {
                this.all_save.splice(INDEX, 1);
                await localforage.setItem('key', JSON.stringify(this.all_save));
            }
        },
        sort_by_when(){
            this.all_save.sort((a, b) => {
                time_A = new Date(a[4]);
                time_B = new Date(b[4]);
                return this.sort_by === 'asc' ? time_A - time_B : time_B - time_A;
            });
            this.sort_by = this.sort_by === 'asc' ? 'desc' : 'asc';
        },
        sort_by_rating(){
            this.all_save.sort((a, b) => {
                return this.sort_by === 'asc' ? a[3] - b[3] : b[3] - a[3];
            });
            this.sort_by = this.sort_by === 'asc' ? 'desc' : 'asc';
        },
    }
}).mount('.app');
</script>
</html>