<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dup_replacer</title>
<!-- <script src="./vue@3.2.36.global.js"></script> -->
<script src="./vue@3.2.36.global.prod.js"></script>
<!-- <script src="./localforage.js"></script> -->
<!-- <script src="./localforage@1.10.0.nopromises.js"></script> -->
<script src="./localforage@1.10.0.js"></script>
<script src="./ramda.@0.28.0.js"></script>
<style>
ul{
list-style-type: none;
}
.app {
display: grid;
/* grid-auto-columns: auto; */
/* grid-template-rows: 3rem auto 1fr; */
grid-gap: 0px;
grid-template-areas:
    "button"
    "textarea"
    "list"
    "duplicate_button"
    ;
}
textarea{
    width: 100%;
    max-height: 30rem; /* 最大高さ */
}
.textarea_childs{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: calc(100% + 3rem) calc(100% + 3rem) calc(100% + 3rem) calc(100% + 3rem); */
    /* grid-gap: 0px; */
    grid-template-areas:
    'a b d'
    'a c d';
}
.a{
    grid-area: a;
    /* height: 100%; */
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
    /* height: 100%; */
}
.duplicate_button{
    grid-area: duplicate_button;
}



/* .button_parent{
display: grid;
grid-area: button;
grid-template-rows: 1fr;
grid-template-columns: repeat(3, 1fr);
}
.textarea_parent {
display: grid;
grid-auto-rows: auto;
grid-template-columns: 2fr 1fr 1fr 2fr;
grid-gap: 0px;
}
.limited_item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
  height: 1.5rem;
} */
</style>
</head>
<body>
<div class="app">

<div class="button_parent">
<input type="button" value="save_data_to_all_save" @click="save_data_to_all_save">
<input type="button" value="apply_data_increment" @click="apply_data_increment">
<input type="button" value="apply_data_decrement" @click="apply_data_decrement">
<!-- vue.jsのチェックボックスのデータのバインドの仕方のサンプルのHTML-->
<input type="checkbox" id="check" v-model="in_reference_to_INDEX_0_apply_check">: in_reference_to_INDEX_0_apply_check
<!-- <input type="checkbox" name="in_reference_to_INDEX_0_apply_check" id="in_reference_to_INDEX_0_apply_check" v-model="in_reference_to_INDEX_0_apply_check"> -->


</div>

<div class="textarea_parent">
<!-- <div class="tag">
<input type="text" name="tag_input" class="tag_input">
<ul>
<li v-for="(item, index) in tag">
{{item}}
</li>
</ul>
</div> -->

<div v-for="(DATA, INDEX) in B_C_list" class="textarea_childs">
    <textarea name="a" class="a" v-model="DATA[0]"></textarea>

    <textarea name="b" class="b" v-model="DATA[1]"></textarea>
    <textarea name="c" class="c" v-model="DATA[2]"></textarea>

    <textarea name="d" class="d" v-model="DATA[3]"></textarea>
</div>
<button @click="duplicate_button">duplicate_button</button>
</div>

<input type="button" value="sort_by_when" @click="sort_by_when">
<input type="button" value="sort_by_rating" @click="sort_by_rating">
<input type="button" value="is_limited_item_change" @click="is_limited_item_change">
<input type="text" name="filter_by_text" class="filter_by_text" @input="filter_by_text" v-model="filter_text" placeholder="filter_text">
<ul>
<li v-for="(item, index) in all_save">
<!-- <span>{{ item[5] ? item[5] : ['a','b','c'] }}</span> -->
<button @click="save_data_set(index)">save_data_set</button>
{{ item[4] }}: rating {{ item[3] }} <button @click="rating_up(index)">🔼</button><button @click="rating_down(index)">🔽</button>: <p :class="{ limited_item: is_limited_item ? true : false }">{{ item }}</p>
<button @click="save_data_delete(index)">save_data_delete</button>
</li>
</ul>

</div>
</body>
<script>
const app = Vue.createApp({
data() {
return {
    // a: 'ABCDEFGHIJKLMNOPQRSTUVWXYZaabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyyzzAABBCCDDEEFFGGHHIIJJKKLLMMNNOOPPQQRRSSTTUUVVWWXXYYZZ',
    B_C_list:[
        ['ABCDEFGHIJKLMNOPQRSTUVWXYZaabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyyzzAABBCCDDEEFFGGHHIIJJKKLLMMNNOOPPQQRRSSTTUUVVWWXXYYZZ', 'BC\nEF\nHI\nXY', 'bc\nef\nhi\nxy', ''],
        // ['aa\nBB\nHI\nXY', 'AA\nbb\nhi\nxy', ''],
        // ['XX\nYY\nZZ', 'xx\nyy\nzz', ''],
    ],
    // B_C_list_INDEX: 0,
    b: '',
    c: '',
    rating: 0,
    when: null,
    save_data: [],
    all_save: [],
    sort_by: 'asc',
    filter_text: '',
    temporary_all_save_for_filter: [],
    is_limited_item: true,

    tag: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
    in_reference_to_INDEX_0_apply_check: true,
}
},
watch: {
   B_C_list: {
     handler() {
        this.in_reference_to_INDEX_0_apply();
     },
     deep: true
   },
},
// computed: {
// result: function () {
// }
// },
mounted() {
this.save_data_load();
this.make_result();
this.auto_resize();
},
beforeUpdated() {
},
updated() {
},
methods: {
    // ja: アプライデーターインクリメント
    // en: apply_data_increment
// apply_data_increment(){
//     this.B_C_list_INDEX++;
// },
// apply_data_decrement(){
//     this.B_C_list_INDEX--;
// },
refresh_save_data() {
    this.save_data = [
        this.a,
        this.b,
        this.c,
        this.rating,
        this.when,
    ];
},
make_result(){
    this.when = (new Date()).toLocaleString('en');
    JSON.parse(JSON.stringify(this.B_C_list)).map((B_C)=>{
        let tmp = '';
        R.zip(
            B_C[1].split("\n"),
            B_C[2].split("\n"))
                .forEach(V=> tmp = B_C[0].replaceAll(V[0], V[1]) );
        return tmp;
    }).forEach((item, index)=>this.B_C_list[index][3] = item);
    this.auto_resize();
},
async rating_up(INDEX){
    this.all_save[INDEX][3]++;
    await localforage.setItem('key', JSON.stringify(this.all_save));
},
async rating_down(INDEX){
    this.all_save[INDEX][3]--;
    await localforage.setItem('key', JSON.stringify(this.all_save));
},
async save_data_to_all_save(){
    this.all_save.push(this.save_data);
    await localforage.setItem('key', JSON.stringify(this.all_save));
},
async save_data_load() {
    this.all_save = JSON.parse(await localforage.getItem('key')) || [];
    this.temporary_all_save_for_filter = this.all_save;
},
save_data_set(INDEX){
    [this.a, this.b, this.c, this.rating, this.when, this.tag] = this.all_save[INDEX];
},
async save_data_delete(INDEX){
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕")) {
        this.all_save.splice(INDEX, 1);
        await localforage.setItem('key', JSON.stringify(this.all_save));
    }
},
sort_by_when(){
    this.all_save.sort((a, b) => {
        time_A = new Date(a[4]);
        time_B = new Date(b[4]);
        return this.sort_by === 'asc' ? time_A - time_B : time_B - time_A;
    });
    this.sort_by = this.sort_by === 'asc' ? 'desc' : 'asc';
},
sort_by_rating(){
    this.all_save.sort((a, b) => {
        return this.sort_by === 'asc' ? a[3] - b[3] : b[3] - a[3];
    });
    this.sort_by = this.sort_by === 'asc' ? 'desc' : 'asc';
},
filter_by_text(){
    this.all_save = this.temporary_all_save_for_filter.filter(VAL => {
        return VAL[0].includes(this.filter_text) || VAL[1].includes(this.filter_text) || VAL[2].includes(this.filter_text);
    });
    this.filter_text === "" ? this.all_save = this.temporary_all_save_for_filter : null;
},
is_limited_item_change(){
    this.is_limited_item = this.is_limited_item ? false : true;
},
auto_resize(){
    document.querySelectorAll('textarea').forEach(textarea=>{
        textarea.style.height = 'auto';
        textarea.style.height = `${textarea.scrollHeight}px`;
    });
},
duplicate_button(){
    const copy = R.clone(this.B_C_list[0]);
    this.B_C_list.push(copy);
    this.auto_resize();
    // this.all_save[this.all_save.length - 1][4] = (new Date()).toLocaleString('en');
    // this.all_save[this.all_save.length - 1][3] = 0;
    // localforage.setItem('key', JSON.stringify(this.all_save));
},
in_reference_to_INDEX_0_apply(){
    this.in_reference_to_INDEX_0_apply_check === true ? this.B_C_list.forEach((item, index)=>item[0] = this.B_C_list[0][0]) : null;
    // this.checked === true ? console.log("hoge") :  console.log("fuga");
    // this.make_result();
},


}
}).mount('.app');
</script>
</html>