<!DOCTYPE html>
<html lang="en">
<head>
<!-- 
vue ✅
server|client side validate
web api with authentication
grid layout
client side save
PWA?(maybe i wont do it(because web app need maintenance that released on store, it's hard way to do(if it's standaole app, it's easy way to do)))
    => this app is for training to make web app(not for production)
-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textsplitterfortweet_2</title>
    <script src="./vue3.js"></script>
    <script src="./ramda.@0.28.0.js "></script>
<style>
.twitter-share-button{
    display: block;
    overflow-wrap: anywhere;
}
</style>
</head>
<body class="app">

<textarea v-model="foo" class="foo" minlength="1" maxlength="1400" @input="fn_A" @change="fn_A"></textarea>
<select class="select" v-model="selected" @change="fn_B($event)">
    <option disabled value="">Please select one</option>
    <option v-for="NUM in ALL_NUM" :key="NUM">
        {{ NUM }}
        </option>
</select>
<input type="button" value="fn_A" @click="fn_A">
<!-- https://stackoverflow.com/a/60293732 -->
<a class="twitter-share-button" v-bind:href="`https://twitter.com/intent/tweet?text=${item}`" data-size="large" v-for="item in TXT">{{ item }}</a>

</body>
<script>
const app = Vue.createApp({
  data() {
    return {
        foo: 'abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz',
        // foo: 'a',
        TXT: [],
        selected: 10,
        ALL_NUM:[],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    fn_A() {
        this.TXT = R.splitEvery(
                    this.selected,
                    this.foo
                );
        console.log(this.TXT)
    },
    fn_B(EVENT) {
        this.selected = Number(EVENT.target.value);
        this.fn_A();
    },
    init() {
        this.ALL_NUM = R.range(1, 141);
        this.selected = 140;
    },
  },
}).mount('.app');
</script>
</html>