@charset "UTF-8";
/* CSS Document */

*{
  margin:0;
  padding:0;
}

ul{
  list-style: none;
}


#wrap{
  width: 960px;
  margin: 0 auto;
  background-color: beige;
}

#header{
  margin-bottom: 20px;
  background-color: lightpink;
}

#footer{
  background-color: gold;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box li {
  width: 225px;
  margin-bottom: 20px;
  border: 1px solid #666;
  background: #ccc;
}