<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue_3_starter</title>
<script src="./localforage@1.10.0.js"></script>
<script src="./vue@3.2.36.global.prod.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.36/vue.cjs.js"></script> -->
<script src="./ramda.@0.28.0.js"></script>
</head>
<body class="app">
<template v-for="(DATAVAL, DATAIDX) in data8"><div>{{ DATAVAL }}</div></template>
<textarea name="" id="" cols="30" rows="15" v-model="data6"></textarea>
<div>
    <button @click="fn4">fn4</button>
</div>
<!-- <button @click="fn0">fn0</button> -->
<template v-for="(DATAVAL, DATAIDX) in data4">
    <button v-for="item in DATAVAL[1]" @click="fn3(DATAVAL[0], item, DATAIDX)">{{ item }}</button><span>{{ data5[DATAIDX] }}</span>
    <br>
</template>
<!-- <textarea name="" id="" cols="30" rows="15" v-model="data0"></textarea> -->
<textarea name="" id="" cols="30" rows="15" v-model="data3"></textarea>
<template v-for="(DATAVAL, DATAIDX) in data2">
<!-- <div>{{ DATAVAL }}</div> -->
</template>
</body>
<script>

// https://stackoverflow.com/a/68523152
// TODO: copy and paste mulberry32 and cyrb128 from
//       https://stackoverflow.com/a/47593316/6243352
function cyrb128(str) {
    let h1 = 1779033703, h2 = 3144134277,
        h3 = 1013904242, h4 = 2773480762;
    for (let i = 0, k; i < str.length; i++) {
        k = str.charCodeAt(i);
        h1 = h2 ^ Math.imul(h1 ^ k, 597399067);
        h2 = h3 ^ Math.imul(h2 ^ k, 2869860233);
        h3 = h4 ^ Math.imul(h3 ^ k, 951274213);
        h4 = h1 ^ Math.imul(h4 ^ k, 2716044179);
    }
    h1 = Math.imul(h3 ^ (h1 >>> 18), 597399067);
    h2 = Math.imul(h4 ^ (h2 >>> 22), 2869860233);
    h3 = Math.imul(h1 ^ (h3 >>> 17), 951274213);
    h4 = Math.imul(h2 ^ (h4 >>> 19), 2716044179);
    return [(h1^h2^h3^h4)>>>0, (h2^h1)>>>0, (h3^h1)>>>0, (h4^h1)>>>0];
}
function mulberry32(a) {
    return function() {
      var t = a += 0x6D2B79F5;
      t = Math.imul(t ^ t >>> 15, t | 1);
      t ^= t + Math.imul(t ^ t >>> 7, t | 61);
      return ((t ^ t >>> 14) >>> 0) / 4294967296;
    }
}
const seededRandom = ({rng = null, seed = "apples"} = {}) => {
  rng = rng || mulberry32(cyrb128(seed)[0]);

  const rnd = (lo, hi, defaultHi=1) => {
    if (hi === undefined) {
      hi = lo === undefined ? defaultHi : lo;
      lo = 0;
    }

    return rng() * (hi - lo) + lo;
  };

  const rndInt = (lo, hi) => Math.floor(rnd(lo, hi, 2));

  const shuffle = a => {
    for (let i = a.length - 1; i > 0; i--) {
      const j = rndInt(i + 1);
      const x = a[i];
      a[i] = a[j];
      a[j] = x;
    }
    return a;
  };

  return {rnd, rndInt, shuffle};
};
const {
  rnd, rndInt, shuffle
} = seededRandom({seed: "optional seed string"});

// let data0 = null;
let data1 = null;
let data2 = null;
let data3 = null;
let data4 = null;
let data5 = null;
let data6 = null;
let data7 = null;
let data8 = null;
let data9 = null;





const test_0 = () => document.querySelectorAll("body > button").forEach(V=>V.click());






const app = Vue.createApp({
data() {
    return {
all_save: [],
// data0: '123456789ANY!',
data1: [0,1,2],
data2: [],
data3: `1
2
3
4
5
6
7
8
9
S
O
M
E`,
data4: [],
data5: [],
data6: `10
20
30
40
50
60
70
80
90
SUN
OZ
MARSE
EVER`,
data7: [],
data8: [],
// data10: [],
// data11: [],
test_mode: true,
    }},
watch: {
   any: {
     handler() {
     },
     deep: true
   },
},
beforeCreate(){
},
created(){
},
beforeMount(){
},
mounted() {
    this.fn2();
    this.fn5();
},
beforeUpdate() {
    // this.fn2();
},
updated() {
},
methods: {
async save_data_to_all_save(){
    this.all_save.push(this.data3);
    await localforage.setItem('key', JSON.stringify(this.all_save));
},
async save_data_load() {
    this.all_save = JSON.parse(await localforage.getItem('key')) || [];
    // this.temporary_all_save_for_filter = this.all_save;
},
save_data_set(INDEX){
    this.data3 = this.all_save[INDEX];
},
async save_data_delete(INDEX){
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕")) {
        this.all_save.splice(INDEX, 1);
        await localforage.setItem('key', JSON.stringify(this.all_save));
    }
},
fn0(){
    console.log(this.data0);
},
fn1(){
    console.log(JSON.parse(JSON.stringify(this.data1)));
},
fn2(){
    this.data4 = data4 = "";
    this.data2 = this.data3.split("\n");
    res = this.data2.map((V, IDX)=>{
        return shuffle(shuffle(R.without(this.data2[IDX], this.data2)).slice(0, 2).concat(this.data2[IDX]));
    });
    this.data4 = data4 = R.zip(this.data2, res);
    this.test_mode === true ? this.test(["❎","❎","❎","⭕️","❎","⭕️","❎","❎","⭕️","❎","❎","⭕️","⭕️"], 0) : null;
},
fn3(correct_answer, answer, INDEX){
    this.data5[INDEX] = answer === correct_answer ? "⭕️" : "❎";
},
fn4(){
    this.data4 = R.collectBy(
                    (V)=>V[1],
                    R.zip(this.data4, this.data5)
                )
                    [0]
                    .map(V=>V[0]);
    this.data5 = [];

    this.test_mode === true ? this.test(["⭕️","⭕️","❎","❎","❎","❎","⭕️","⭕️"], 1) : null;
},
fn5(){
    this.data7 = this.data6.split("\n");
    this.data8 = this.data4.map((V,IDX)=>V.concat([this.data7[IDX]]));
},
to_ary(it){
    return JSON.parse(JSON.stringify(it));
},
test(TEST_DATA, answer){
    this.data4.forEach((V,IDX)=>this.fn3(V[0], V[1][answer], IDX));
    a = this.to_ary(this.data5);
    b = TEST_DATA;
    console.log(R.equals(a, b) ? "⭕️" : "❎");
    this.for_debug();
},
for_debug(){
    data1 = this.to_ary(this.data1);
    data2 = this.to_ary(this.data2);
    data3 = this.to_ary(this.data3);
    data4 = this.to_ary(this.data4);
    data5 = this.to_ary(this.data5);
    data6 = this.to_ary(this.data6);
    data7 = this.to_ary(this.data7);
    data8 = this.to_ary(this.data8);
},
},
}).mount('.app');
</script>
</html>