@charset "UTF-8";
/* CSS Document */
*{
  margin:0;
  padding:0;
}

#wrap{
  width:800px;
  margin:30px auto;
  background-color: beige;
}

#header{
  background-color: lightpink;
}

#contents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#main{
  width:500px;
  background-color: palegreen;
  display: block; /*for IE11*/
}

#side{
  width:280px;
  background-color: skyblue;
}

#footer{
  background-color: gold;
}