 @charset "UTF-8";


*{
  margin:0;
  padding:0;
}
body {
  margin: 20px;
}



section {
  margin: 20px 0;
}

.flx {
	width: auto;
	height: auto;
	/* height: 100px; */
  padding: 20px;
  background:black;
  display: flex;
  flex-wrap: wrap;
}
.flx div {
	text-align: center;
  width: 100px;
  /* padding: 15px; */
  border: 2px solid gray;
  background: purple;

  display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.flx div a{
	font-size: 30px;
	border: black 1px solid;
	}

.flex {
  display: flex;
}



.flex {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #e7e7e7;
  background: #ffffeb;
}
ul {
  list-style: none;
}
.flex li {
  width: 100px;
  padding: 15px;
  border: 2px solid #666;
  background: #80ceff;
}


.flex {
  display: flex;
}


.no2 .flex {
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
}

.no3 .flex .fzL {
  font-size: 3em;
}
.no3 .flex {
	  flex-wrap: wrap;
		word-wrap: break-word;
		  height: auto;
  align-items: stretch;
  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */
}

.no4 .flex {
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}

.no5 .flex {
		word-wrap: break-word;
  /* height: 300px; */
  height: auto;
  flex-wrap: wrap;
  align-content: stretch;
  align-content: flex-start;
  /* align-items: center; */
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;
}

  align-content: stretch;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;

.no6 .flex {
  flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
}