div#blocks ul {
  border: 0;
  padding: 0;
  margin: 1;
  line-height: 20px;
  letter-spacing: 0px;
}
div#blocks li {
  display: inline-block;
}

div#data ul {
	border: unset;
	padding: unset;
	margin: unset;
	line-height: 30px;
	letter-spacing: 10px;
}
div#data li {
	display: block;
}
div#data li span {
	border: unset;
	padding: unset;
	margin: 10px;
	display: inline;
}
