@charset "UTF-8";

/* 基本設定 */

* {
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}


/* ページ全体の設定 */
body {
	display: grid;
	/* grid-template-columns: 10px 1fr 10px; */
	/* grid-template-columns: 100px 1fr 100px; */
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 
		[head] auto
		[title] auto
		[main] auto
		[form] auto
		[foot] auto;
	grid-row-gap: 10px;
	row-gap: 10px;
    -webkit-text-size-adjust: 100%;
}
 
input,
textarea,
select {
    font-size: 16px;
	width: 100%;
}

/* パーツの配置*/
body > * {
	grid-column: 2/-2;
}

form {
	grid-column: 2/-2;
	grid-row: form;
}

#bar {
	grid-column: 3/-3;
	grid-row: main;
	/* background-color: black; */
}

ul {
	grid-column: 2/-4;
	grid-row: form;
}