@charset "UTF-8";

/* 基本設定 */

* {
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}


/* ページ全体の設定 */
body {
	display: grid;
	/* grid-template-columns: 10px 1fr 10px; */
	/* grid-template-columns: 100px 1fr 100px; */
	grid-template-columns: 20px 1fr 1fr 1fr 20px;
	grid-template-rows: 
		[head] auto
		[title] auto
		[main] auto
		[search] auto
		[form] auto
		[social] 30px
		[result] 30px;
	grid-row-gap: 10px;
	row-gap: 10px;
    -webkit-text-size-adjust: 100%;
}
 
input,
textarea,
select {
    font-size: 16px;
	width: 90%;
	height: 90%;
}

/* パーツの配置*/
body > * {
	grid-column: 2/-2;
}

form {
	grid-column: 3/-3;
	grid-row: form;
}

#bar {
	grid-column: 2/-4;
	grid-row: form;
	/* background-color: black; */
}

#baz {
	grid-column: 4/-2;
	grid-row: form;
	/* background-color: black; */
}

button{
		grid-column: 3/-3;
		grid-row: social;
			width: 90%;
			height: 90%;
}

#result {
	grid-column: 3/-3;
	grid-row: result;
	width: 90%;
	height: 90%;
}


#searchForm {
		grid-column: 3/-3;
		grid-row: search;
		width: 90%;
		height: 90%;
}