<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image-to-name</title>
<link rel="stylesheet" href="./lib/reset.css">
<script src="./lib/localforage@1.10.0.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script> -->
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<script src="./lib/ramda.@0.28.0.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.28.0/ramda.min.js"></script> -->
<style>
/* imgタグを縦横300px300pxに設定するcss */
img {
    width: 300px;
    height: 300px;
}
</style>
<!-- 
dataC(inputText, image(base64)) <= inputText/inputFile_tag
    => input area
        => rendering Q_A
 -->
</head>
<body>
<div class="image_to_name">

<div class="column-1" :class="{'column-1-none': column_1_none}">
<div class="optional_function">
    <button @click="reverse_i_n">🔃</button>
    <button @click="shuffle_i_n">🌪️</button>
    <button @click="swap_i_n">🔁</button>
    <button @click="save_data_to_all_save_i_n">🗂️</button>
</div>
<button @click="fn19_i_n" class="save_opener">📂</button>
<ul class="save_data_set_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in all_save_i_n" class="save_data_set_list">
    <span @click="save_data_set_i_n(DATAIDX)">{{ [DATAVAL[0].split("\n")[0], DATAVAL[1].split("\n")[0]] }}</span>
    <button @click="save_data_set_i_n(DATAIDX)" class="save_data_set">📂</button>
    <button @click="save_data_delete_i_n(DATAIDX)" class="save_data_delete">🗑️</button>
</li>
</ul>

<!-- <div class="link_button" @click="fn14"> -->
<!-- <button class="link_button_top">🌐</button> -->
<!-- <progress max="4000" :value="progress_val" class="link_button_under"></progress> -->
<!-- </div> -->
<!-- <a :href="data11[0]" class="link_text">{{data11[0]}}</a> -->
<div class="textarea-column-1">
<ul class="image_name_input_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in all_save_i_n" class="image_name_input_list">
    <input type="text" name="" id="">
    <input type="file" @change="onFileSelected">
    <img :src="image_url" v-if="image_url">
</li>
</ul>
</div>
<button @click="fn21(1)" class="font_sizing">◉</button>
<button @click="fn21(-1)" class="font_sizing">⦿</button>
<button @click="fn21" class="font_sizing">◎</button>
</div>


<div class="column-2" :class="{'column-2-none': column_2_none}">
<template v-for="(DATAVAL, DATAIDX) in image_to_name_images_Q_AND_A">
    <div>
    <img :src="image_to_name_images[DATAIDX]" :alt="image_to_name_images[DATAIDX]">
    <button v-for="ANSWER in setup_data[DATAIDX][1]" @click="image_to_name_fn_check_q_and_a_ramda(setup_data[DATAIDX][0], ANSWER, DATAIDX)">{{ ANSWER }}</button>
    <span >{{ return_YES_EMOJI_if_true_and_NO_EMOJI_if_false_ramda(DATAIDX) }}</span>
    </div>
</template>
<button @click="fn4" class="check_button">🎮</button>
</div>


<div class="column-3" :class="{'column-3-none': column_3_none}">
<div>
<button @click="result_opener_i_n" class="result_opener">📖</button>

</div>
<template v-for="(DATAVAL, DATAIDX) in data10_i_n">
    <div class="textarea-column-2">
    <div class="a">
        <button @click="fn9_i_n(DATAIDX)" class="a-1">↩️</button>
        <button @click="fn16_i_n(DATAIDX)" class="a-2">🗑️</button>
        <button @click="fn17_i_n(DATAIDX)" class="a-3">📚</button>
    </div>
    <template v-for="(DATAVAL, DATAIDX) in image_to_name_images_Q_AND_A">
        <div>
        <img :src="image_to_name_images[DATAIDX]" :alt="image_to_name_images[DATAIDX]">
        <button v-for="ANSWER in setup_data[DATAIDX][1]" @click="image_to_name_fn_check_q_and_a_ramda(setup_data[DATAIDX][0], ANSWER, DATAIDX)">{{ ANSWER }}</button>
        <span >{{ return_YES_EMOJI_if_true_and_NO_EMOJI_if_false_ramda(DATAIDX) }}</span>
        </div>
    </template>
    </div>
</template>
</div>


</div>
</template>
</div>
<script>
let
data0=
data1=
data2=
data3=
data4=
data5=
data6=
data7=
data8=
data9=
data10=
data11=
data12=
data13=
data14
= null;



// https://stackoverflow.com/a/68523152
// TODO: copy and paste mulberry32 and cyrb128 from
//       https://stackoverflow.com/a/47593316/6243352
function cyrb128(str) {
    let h1 = 1779033703, h2 = 3144134277,
        h3 = 1013904242, h4 = 2773480762;
    for (let i = 0, k; i < str.length; i++) {
        k = str.charCodeAt(i);
        h1 = h2 ^ Math.imul(h1 ^ k, 597399067);
        h2 = h3 ^ Math.imul(h2 ^ k, 2869860233);
        h3 = h4 ^ Math.imul(h3 ^ k, 951274213);
        h4 = h1 ^ Math.imul(h4 ^ k, 2716044179);
    }
    h1 = Math.imul(h3 ^ (h1 >>> 18), 597399067);
    h2 = Math.imul(h4 ^ (h2 >>> 22), 2869860233);
    h3 = Math.imul(h1 ^ (h3 >>> 17), 951274213);
    h4 = Math.imul(h2 ^ (h4 >>> 19), 2716044179);
    return [(h1^h2^h3^h4)>>>0, (h2^h1)>>>0, (h3^h1)>>>0, (h4^h1)>>>0];
}
function mulberry32(a) {
    return function() {
      var t = a += 0x6D2B79F5;
      t = Math.imul(t ^ t >>> 15, t | 1);
      t ^= t + Math.imul(t ^ t >>> 7, t | 61);
      return ((t ^ t >>> 14) >>> 0) / 4294967296;
    }
}
const seededRandom = ({rng = null, seed = "apples"} = {}) => {
  rng = rng || mulberry32(cyrb128(seed)[0]);

  const rnd = (lo, hi, defaultHi=1) => {
    if (hi === undefined) {
      hi = lo === undefined ? defaultHi : lo;
      lo = 0;
    }

    return rng() * (hi - lo) + lo;
  };

  const rndInt = (lo, hi) => Math.floor(rnd(lo, hi, 2));

  const shuffle = a => {
    for (let i = a.length - 1; i > 0; i--) {
      const j = rndInt(i + 1);
      const x = a[i];
      a[i] = a[j];
      a[j] = x;
    }
    return a;
  };

  return {rnd, rndInt, shuffle};
};
const {
  rnd, rndInt, shuffle
} = seededRandom({seed: "optional seed string"});




const image_to_name = Vue.createApp({
data() {
    return {
image_to_name_images_Q_AND_A: [],
// image_to_name_data_1: [],
image_to_name_data_1: [1,2,3],
image_to_name_data_1_null: [],
image_url: null,
image_name: null,
setup_data: [],
all_save_i_n: [],

data10_i_n: [],

    }},
watch: {
   any: {
     handler() {
     },
     deep: true
   },
},
beforeMounte(){
},
mounted() {
    this.setup();
    this.to_ary_all_dataNum();
},
beforeUpdate() {
},
updated() {
    this.setup();
    this.to_ary_all_dataNum();
},
methods: {
reverse_i_n(){},
shuffle_i_n(){},
swap_i_n(){},
save_data_to_all_save_i_n(){},
fn19_i_n(){},
save_data_set_i_n(){},
save_data_set_i_n(){},
save_data_delete_i_n(){},
fn9_i_n(DATAIDX){},
fn16_i_n(DATAIDX){},
fn17_i_n(DATAIDX){},
r_zip_form_image_to_name_array_and_image_to_name_images(){
    this.image_to_name_data_1 = this.test_mode === true ? [1,2,3] : [];
    this.image_data_array = this.test_mode === true ? ['./dog.png', './cat.png', './halr.png'] : [];
    // return early if the array contains a symbol for security reasons
    if(this.contains_symbol_in_ary(this.image_to_name_data_1)){
        return;
    }
    this.image_to_name_images_Q_AND_A = R.zip(
        this.image_to_name_data_1,
        this.image_data_array
    );
    this.to_ary_all_dataNum();
},
image_to_name_fn_2(ANSWER, COLLECT_ANSWER){
    console.log(JSON.parse(JSON.stringify(a,b,c)));
},
// 第一引数を第二引数が合致してるかどうかを判定して、合致していれば第三引数のINDEXにtrueを入れて、合致していなければ第三引数のINDEXにfalseを入れるramda.jsを利用して1行で書いた関数
image_to_name_fn_check_q_and_a_ramda(ANSWER, COLLECT_ANSWER, IDX){
    this.image_to_name_data_1[IDX] = R.ifElse(R.equals(ANSWER), R.always(true), R.always(false))(COLLECT_ANSWER);
},
// trueならYES_EMOJIを返しfalseならNO_EMOJIを返すramda.jsを利用して1行で書いた関数
return_YES_EMOJI_if_true_and_NO_EMOJI_if_false_ramda(IDX){
    return R.ifElse(R.equals(true), R.always("👍"), R.always("🚫"))(this.image_to_name_data_1[IDX]);
},


imageUpload(INT_NUM){
    if(document.querySelector("input[type=file]").files[0] === undefined){
        document.querySelector(".answer").placeholder = "select image";
        return;
    }
    Array.from(document.querySelector("input[type=file]").files).forEach((FILE, IDX)=> document.querySelector(".qa_" + (INT_NUM + IDX).toString()).querySelector("img").src = URL.createObjectURL(FILE) );
},
// https://stackoverflow.com/a/71869551
async image_save_by_base64(){
    const getBase64FromUrl = async (url) => {
        const data = await fetch(url);
        const blob = await data.blob();
        return new Promise((resolve) => {
        const reader = new FileReader();
        reader.readAsDataURL(blob);
        reader.onloadend = () => {
            const base64data = reader.result;
            resolve(base64data)
        };
        });
    };

    const myImage = await getBase64FromUrl(document.querySelector("img").src);
    return myImage;
},
// tmp_data = await image_save_by_base64();
async image_save_by_base64_2(){
    document.querySelectorAll("img")[1].src = tmp_data;
},

// A function to check if a symbol is contained
contains_symbol(input) {
    const symbols = '!@#$%^&*()_+-={}[]|;:\'"<>,.?/\\';
    for (let i = 0; i < input.length; i++) {
        if (symbols.indexOf(input[i]) !== -1) {
            return false;
        }
    }
    return true;
},
// 配列に含まれる文字列の中に記号が含まれているかどうかを判定する関数
contains_symbol_in_ary(ary){
    return this.to_ary(ary).map(V=>this.contains_symbol(V)).includes(false);
},
create_an_array_of_nulls_of_length_of_length_this_image_to_name_images(){
    this.image_to_name_data_1_null = Array(this.image_to_name_data_1.length).fill(null);
},
setup(){
    from_ary = [1,2,3];
    this.setup_data = from_ary.map((V, IDX)=>{
        return [V, shuffle(shuffle(R.without(from_ary[IDX], from_ary)).slice(0, 2).concat(from_ary[IDX]))];
    });
    this.create_an_array_of_nulls_of_length_of_length_this_image_to_name_images();
},


// fileからファイル名を取得する関数
get_file_name_from_file(file){
    this.image_name = file.name;
},
onFileSelected(event) {
    const file = event.target.files[0];
    this.get_file_name_from_file(file);
    const reader = new FileReader()
    reader.onload = (e) => {
        this.image_url = e.target.result
        data0 = this.image_url;
    }
    reader.readAsDataURL(file)
},


to_ary(it){
    return JSON.parse(JSON.stringify(it));
},
to_ary_all_dataNum(){
    data0 = this.to_ary(data0);
    data1 = this.to_ary(data1);
    data2 = this.to_ary(data2);
    data3 = this.to_ary(data3);
    data4 = this.to_ary(data4);
    data5 = this.to_ary(data5);
    // それぞれの変数をconsole.logする
    // console.log(data0,data1,data2,data3,data4,data5);
},
function_to_remove_a_string_from_an_array_string_that_is_contained_in_any_array(){
    format = ['.bmp', '.gif', '.ico', '.jpeg', '.jpg', '.png', '.svg', '.tif', '.tiff', '.webp'];
    this.image_to_name_images_without_image_format_str = [];
    this.image_to_name_images.map(V => {
        return format.map(V2 => {
            if(V.includes(V2)){
                this.image_to_name_images_without_image_format_str.push(V.replace(V2, ''));
            }
        })
    });
}








},
}).mount('.image_to_name');

// 空白文字列を_で埋める関数(コメントから関数名に使うために)
function fill_blank_with_underscore(str){
    return str.replace(/\s+/g, '_');
}
</script>
</body>
</html>

