<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>q_a_2</title>


<link rel="stylesheet" href="./lib/reset.css">
<script src="./lib/localforage@1.10.0.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script> -->
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<script src="./lib/ramda.@0.28.0.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.28.0/ramda.min.js"></script> -->
</head>

<body class="app">
<textarea name="" class="q_a_original" cols="100" rows="10" v-model="q_a_original"></textarea>
<textarea name="" class="q_a_target" cols="100" rows="10" v-model="q_a_target"></textarea>
<div class="result_data">
<template v-for="(DATAVAL, DATAIDX) in data1">
<span class="text">{{ (typeof DATAVAL) !== 'object' ? DATAVAL : '' }}</span>
    <select v-model="data2[DATAIDX]" @keypress="check_answer" @change="check_answer" v-if="(typeof DATAVAL) === 'object'" class="not_text">
      <option v-for="option in without_first_param(DATAVAL)" class="answer">{{ option }}</option>
    </select>
</template>
</div>
</body>

<script>
let q_a_original = null;
let q_a_target = null;
let data1 = null;
let data2 = null;
let data3 = null;
let data4 = null;
let data5 = null;
const app = Vue.createApp({
data() {
return {
test_mode: true,
q_a_original: `a is 100200300 です。ABはC
is thAt;.`,
q_a_target: `100
AB
A`,
data0: [],
data1: ['a is ', ['100','','AB','A','100'], '200300 です。', ['AB','','AB','A','100'],'はC\nis th', ['A','','AB','A','100'],'t;.'],
data2: [],
data3: [],
data4: [],
data5: [],
}},
mounted() {
this.init();
this.test_mode === true ? this.test() : null;
this.check_answer();
},
methods: {
init(){
// let words = ["c", "f"];
// let pattern = new RegExp('('+words.join('|')+')', "g");
// 'abcdefg'.split(pattern);
this.data2 = R.repeat(null, this.data1.length);
},
array_all_stringify(ARY){
    return ARY.map(V=> (typeof V === 'string') ? V : V.map(VALUE=>VALUE.toString()));
},
coloring(){
R.zip(this.data5, Array.from(document.querySelector(".result_data").children).filter(V=> (V.innerText !== ''))).map(V=>{
    V[0] === true ? V[1].style.backgroundColor = 'aqua' : null;
    V[0] === false ? V[1].style.backgroundColor = 'crimson' : null;
});
},
check_answer() {
this.data3 = this.array_all_stringify(this.data1);
this.data4 = R.zip(this.data3, this.data2);
this.data5 = this.data4.map(V=>{if(V[1] !== null){return V[0][0] === V[1]}});
this.coloring();
// console.log(this.data5);
this.for_debug();
},
without_first_param(ARY) {
return R.remove(0, 1, ARY);
},

fn1(){
document.querySelector(".q_a_original").value.split(
new RegExp('('+(document.querySelector(".q_a_target").value.split("\n")).join('|')+')', "g")
);
},

test(){
this.data2 = [null, '100', null, 'A', null, 'A', null];
},


to_ary(it){
return JSON.parse(JSON.stringify(it));
},
for_debug(){
q_a_original = this.to_ary(this.q_a_original);
q_a_target = this.to_ary(this.q_a_target);
data1 = this.to_ary(this.data1);
data2 = this.to_ary(this.data2);
data3 = this.to_ary(this.data3);
data4 = this.to_ary(this.data4);
data5 = this.to_ary(this.data5);
console.log(
data1,
data2,
data3,
data4,
data5,
);
console.log('test data0 is:', this.to_ary(this.data0));
console.log('test result:', this.data0 === this.data1);
},
}
}).mount('.app');
</script>
</html>
